kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: strims-node-reader
rules:
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: strims-node-reader
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: strims-node-reader
subjects:
  - kind: ServiceAccount
    name: strims-node-reader
---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: strims-node-reader
