src/lib/pb/pb.* linguist-generated
src/lib/pb/register_types.ts  linguist-generated
pkg/pb/* linguist-generated
pkg/api/* linguist-generated
vendor linguist-vendored
go.sum linguist-generated
package-lock.json linguist-generated
infra/internal/models/* linguist-generated
ios/App/App/ProtoBuf/* linguist-generated
ios/App/App.xcodeproj/** linguist-generated
ios/App/App/Info.plist linguist-generated
ios/App/App/API/* linguist-generated
ios/App/Bridge.framework linguist-generated
android/app/src/main/java/gg/strims/ppspp/proto/* linguist-generated
android/.idea/** linguist-generated
