// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.chat_composer {
  position: relative;

  &__editor {
    background: var(--input-bg);
    border-radius: var(--border-radius-small);
    border: 1px solid var(--input-border-color);
    color: var(--input-color);
    line-height: 1.4rem;
    margin: 5px 10px 5px 5px;
    padding: 10px 5px;
    touch-action: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__textbox {
    flex: 1;
  }

  &__button {
    flex: 0 0 24px;
    margin: 0 4px;
    cursor: pointer;

    & > svg {
      height: 24px;
      width: 24px;
    }
  }

  [data-slate-string] {
    word-break: break-word;
    white-space: break-spaces;
  }

  &__span {
    &:-webkit-autofil,
    l {
      display: none;
    }

    &--self {
      font-style: italic;
    }

    &--greentext {
      color: var(--color-text-chat-greentext);
    }

    &--code {
      color: var(--color-text-chat-code);
      font-family: monospace;
    }

    &--spoiler {
      color: gray;
    }

    &--url {
      color: var(--color-blue-8);
    }

    &--tag {
      display: inline-block;
      padding: 0 0.4em;
      background: var(--color-slate-11);
      border: 1px solid var(--color-slate-9);
      border-radius: var(--border-radius-small);
    }

    &--nick {
      &:before {
        content: "@";
      }
    }
  }

  &__autocomplete {
    left: 4px;
    position: absolute;
    width: 100%;
    z-index: var(--z-index-menu);

    &__list {
      box-sizing: border-box;
      width: calc(100% - 15px);
      display: flex;
      flex-direction: column;
      border-radius: var(--border-radius-small);
      bottom: 4px;
      display: block;
      margin: 0;
      position: absolute;
      overflow: hidden;
      background: var(--color-background-input);
      box-shadow: var(--shadow-elevation-2);
    }

    &__label {
      text-transform: uppercase;
      font-weight: bold;
      padding: 8px 10px;
      box-shadow: rgba(0, 0, 0, 0.25) 0 0 3px;
      background: var(--card-bg);

      &:first-child {
        border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
      }
    }

    &__item {
      padding: 8px 4px;
      display: flex;
      flex-direction: row;
      cursor: pointer;

      &:last-child {
        border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
      }

      &__emote,
      &__emoji {
        margin-right: 10px;
      }

      &__label {
        flex: 1;
        display: flex;
        align-content: center;
      }

      &--selected {
        background: var(--color-opac-b-3);
      }
    }
  }

  &__emote_menu {
    position: absolute;
    width: 100%;
    z-index: var(--z-index-menu);
    visibility: hidden;

    &--open {
      visibility: visible;
    }

    &__content {
      right: 10px;
      bottom: 4px;
      position: absolute;
    }
  }
}
