// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.chat {
  &__drawer {
    background: var(--body-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    transition: transform 0.2s ease-in-out;
    width: calc(var(--chat-width) - 20px);
    z-index: var(--z-index-sticky);

    &--left {
      transform: translateX(calc(-1 * var(--chat-width) - 1px));
    }

    &--right {
      right: 0;
      transform: translateX(calc(var(--chat-width) + 1px));
    }

    &--active {
      transform: translateX(0);
      z-index: calc(var(--z-index-sticky) + 1);
    }

    &__header {
      align-items: center;
      border-bottom: 1px solid var(--body-border-color);
      color: (--body-color);
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;

      &__close_button {
        height: 15px;
        width: 15px;
        cursor: pointer;

        @at-root .layout--portable & {
          width: 22px;
          height: 22px;
          padding: 5px;
        }
      }
    }

    &--right &__header {
      padding-right: var(--layout-touch-padding-right, 10px);
      padding-left: var(--layout-touch-padding-left, 10px);
    }

    &__body {
      flex: 1;
    }
  }
}
