.chat {
  &__emote_grid {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0.5em;

    &__emote {
      margin: 0.8em 0.4em;
    }
  }
}
