// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.emotemenu {
  height: 500px;
  width: 300px;
  border-radius: var(--border-radius-small);
  background: var(--color-background-input);
  box-shadow: var(--shadow-elevation-2);

  &__category {
    &__header {
      padding: 12px 0 0 4px;
      text-transform: uppercase;
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;

      &--emote {
        justify-content: space-evenly;
      }
    }

    &__list_item {
      margin: 4px;
      cursor: pointer;

      .emoji {
        line-height: 1em;
      }
    }
  }
}
