// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.chat {
  &__emote_grid {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0.5rem;
    &__emote {
      margin: 0.8rem 0.4rem;
    }
  }
}
