// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.chat {
  &__message {
    box-sizing: border-box;
    line-height: 1.4rem;
    overflow-wrap: break-word;
    padding: 3px 13px 3px 3px;
    width: 100%;
    opacity: var(--opacity-chat-message, 1);
    background-color: var(--color-background-chat-message, transparent);
    margin-top: 1px;
    transform: translateZ(0);
    border-left: 4px solid;
    border-left-color: var(--color-chat-author-tag, transparent);

    // a message preceded and followed by messages from different authors
    &:not(&--continued) + &:not(&--continued) {
      margin-top: 2px;
      margin-bottom: 2px;
    }

    // the first in a sequence of messages from the same author
    &:not(&--continued) + .chat__message {
      margin-top: 2px;
    }

    // all except the first in a sequence of messages from the same author
    &--continued:not(&--self) + &--continued:not(&--self),
    &--continued:not(&--self) + &:not(&--continued, &--self) {
      margin-top: 0;

      .chat__message__author,
      .chat__message__author__text,
      .chat__message__colon {
        font-size: 0;
        margin: 0;
        padding: 0;
        border: none;
      }

      .chat__viewer_state_indicator {
        display: none;
      }

      .chat__message__body {
        padding-left: 5px;
        display: inline-block;
      }
    }

    // the last in a sequence of messages from the same author
    &--continued + &:not(&--continued) {
      margin-bottom: 2px;
    }

    &--sent {
      background-color: var(--color-background-chat-sent);
    }

    &--highlight {
      background-color: var(--color-background-chat-highlight);
      border-top: 1px solid var(--color-border-chat-highlight);
      border-bottom: 1px solid var(--color-border-chat-highlight);
    }

    &--highlight.chat__message--continued.chat__message + &--highlight {
      margin-top: -1px;
      border-top: unset;
    }

    &--clickable &__body {
      cursor: pointer;
    }

    &__time {
      white-space: nowrap;
      margin-right: 3px;
    }

    &:not(&--self) {
      .chat__message__author {
        background: var(--card-bg);
        border-radius: 3px;
        border: 1px solid var(--card-outset-border-top) var(--card-outset-border-right)
          var(--card-outset-border-bottom) var(--card-outset-border-left);
        display: inline-block;
        margin: -1px 0;
        height: 1.4rem;

        &__text {
          padding: 1px 8px 1px 3px;
          cursor: pointer;
        }

        &:hover &__text {
          color: var(--color-text-chat-author-hover);
          text-decoration: underline;
        }

        .chat__viewer_state_indicator {
          height: 1.4rem;
          vertical-align: top;
          display: inline-block;
          border-radius: 3px 0 0 3px;
        }
      }
    }

    &__colon {
      margin: 0 3px 0 -8px;
    }

    &__link {
      color: var(--color-blue-8);
      position: relative;
      word-break: break-all;

      &:hover {
        text-decoration: underline;
      }

      &:visited,
      &:visited &__ellipsis {
        color: var(--color-purple-11);
      }

      @at-root .chat__message--tagged & {
        border-bottom: 1px dashed var(--tag-color, red);
      }

      &__ellipsis {
        user-select: none;
      }

      &__overflow {
        color: transparent;
        font-size: 0;
        vertical-align: top;
      }

      &--external_embed {
        vertical-align: middle;
        line-height: 1.1rem;
        padding-left: 0.1em;

        &,
        &:visited {
          color: var(--color-grey-4);
        }

        &:hover {
          text-decoration: none;
          color: var(--color-grey-7);
        }

        svg {
          height: 1.1rem;
          width: 1.1rem;
        }
      }
    }

    &__nick {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &:before {
        content: "@";
      }
    }

    &__spoiler {
      cursor: pointer;
      padding: 0 3px;
      transition: color var(--timing-medium) ease-in-out;
      background: var(--chat-spoiler-color, black);

      & > .chat__emote,
      & > .chat__emoji,
      & > .chat__emote_container,
      & > .chat__message__code,
      & > .chat__message__link {
        transform: scale(1);
        transition: opacity var(--timing-medium) ease-in-out,
          transform var(--timing-medium) ease-in-out;
      }

      &--hidden {
        color: transparent;

        & > .chat__emote,
        & > .chat__emoji,
        & > .chat__emote_container,
        & > .chat__message__code,
        & > .chat__message__link {
          opacity: 0;
        }

        & > .chat__emote {
          transform: scale(0);
        }
      }
    }

    &__code {
      color: var(--color-text-chat-code);
      font-family: monospace;
    }

    &__greentext {
      color: var(--color-text-chat-greentext);
    }

    &__tag {
      display: inline-block;
      padding: 0 0.4em;
      background: var(--color-slate-11);
      border: 1px solid var(--color-slate-9);
      border-radius: var(--border-radius-small);
    }

    &--self {
      font-style: italic;

      .chat__viewer_state_indicator {
        display: none;
      }

      .chat__message {
        &__author {
          margin-right: 3px;

          &:before {
            content: "*";
          }
        }

        &__colon {
          margin: 0;
          color: transparent;
          font-size: 0;
        }

        &__body {
          font-size: 0;
        }

        &__self {
          font-size: 0.8rem;

          &:after {
            content: "*";
          }
        }
      }
    }
  }

  &__combo_message {
    line-height: 34px;
    padding-left: 5px;

    &__body {
      display: inline-block;
    }

    &__hits,
    &__combo,
    &__count,
    &__x {
      font-style: normal;
      display: inline-block;
      vertical-align: middle;
      text-shadow: -1px -1px 0 var(--color-text-shadow-chat-combo),
        1px -1px 0 var(--color-text-shadow-chat-combo),
        -1px 1px 0 var(--color-text-shadow-chat-combo),
        1px 1px 0 var(--color-text-shadow-chat-combo);
    }

    &__combo {
      display: none;
      font-weight: normal;
    }

    &--hit .chat__combo_message__hits {
      animation: emote-hit 600ms 1;
    }

    &__hits {
      color: var(--body-color);
      font-style: italic;
      text-transform: uppercase;
      margin-left: 0;
      letter-spacing: 0.05rem;
      display: inline-block;
    }

    &__count {
      font-size: 1.2rem;
      letter-spacing: -0.05rem;
      font-weight: bold;
    }

    &--scale_5 {
      .chat__combo_message__count {
        font-size: 1.5rem;
      }
    }

    &--scale_10,
    &--scale_15 {
      .chat__combo_message__count {
        font-size: 2rem;
      }
      .chat__combo_message__combo {
        font-weight: bold;
      }
    }

    &--scale_20,
    &--scale_25 {
      .chat__combo_message__count {
        font-size: 3rem;
      }
      .chat__combo_message__combo {
        font-weight: bold;
      }
    }

    &--scale_30,
    &--scale_35,
    &--scale_40,
    &--scale_45 {
      padding-bottom: 0.5rem;

      .chat__combo_message__count {
        font-size: 4rem;
      }
      .chat__combo_message__combo {
        font-weight: bold;
      }
    }

    &--scale_50 {
      padding-bottom: 0.7rem;

      .chat__combo_message__count {
        font-size: 5rem;
      }
      .chat__combo_message__combo {
        font-weight: bold;
      }
    }

    &--clickable &__body {
      cursor: pointer;
    }

    &--complete {
      &.chat__combo_message--scale_10,
      &.chat__combo_message--scale_20,
      &.chat__combo_message--scale_30,
      &.chat__combo_message--scale_50 {
        .chat__combo_message__body {
          animation: emote-greyout 3500ms 1;
          background: transparent url("../../../assets/splat.png") no-repeat center center;
          background-size: 100% 100%;
          filter: grayscale(100%);
        }

        .chat__combo_message__combo {
          color: var(--body-color);
          margin-left: 5px;
        }
      }

      .chat__combo_message__combo {
        animation: emote-complete 1000ms 1;
        display: inline-block;
      }

      .chat__combo_message__hits {
        display: none;
      }
    }

    @keyframes emote-hit {
      0% {
        color: #b91010;
        font-size: 200%;
      }
      1% {
        color: var(--body-color);
        font-size: 190%;
      }
      2% {
        color: #b91010;
        font-size: 200%;
      }
      3% {
        color: var(--body-color);
        font-size: 190%;
      }
      4% {
        color: #b91010;
        font-size: 200%;
      }
      100% {
        color: var(--body-color);
        font-size: 120%;
      }
    }

    @keyframes emote-complete {
      0% {
        transform: translate(-10px, 0);
        text-shadow: 0 0 3px rgba(white, 1);
      }
      2% {
        transform: translate(10px, 0);
        color: white;
        text-shadow: 0 0 10px rgba(white, 0.5);
      }
      100% {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    @keyframes emote-greyout {
      0% {
        filter: grayscale(0);
      }
      75% {
        filter: grayscale(0);
      }
      100% {
        filter: grayscale(100%);
      }
    }
  }

  &__hidden_emote {
    color: var(--color-grey-4);

    @at-root .chat__combo_message & {
      margin: 0 5px;
    }
  }
}
