// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.room_list {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-elevation-2);
}

.room_menu {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--color-border-chat-tab);
    margin: 0.6rem 0.6rem 0.2rem;
  }

  &__toggle {
    margin: 0 7px 7px;
    display: block;
    cursor: pointer;
    border-radius: 3px;

    svg {
      display: block;
      padding: 10px;
    }

    &:hover {
      background: var(--color-background-chat-toggle-hover);
    }
  }

  &__tab_bar {
    display: flex;
    flex-direction: row;
    user-select: none;
  }

  &__tab {
    display: block;
    margin: 0 0.1rem 0.4rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    position: relative;
    color: var(--color-text-chat-tab);
    border-radius: var(--border-radius-small);

    &:hover {
      color: var(--color-text-chat-tab-hover);
      background-color: var(--color-background-chat-tab-hover);
    }

    &--active,
    &--active:hover {
      cursor: default;
      color: var(--color-text-chat-tab-active);
      background-color: var(--color-background-chat-tab-active);
    }
  }

  &__content {
    flex: 1;
    width: 100%;
    min-height: 1;
  }

  &__item {
    padding: 0.6rem;
    background: green;
    margin: 0.6rem;
  }
}

.rooms_list {
  display: flex;
  flex-direction: column;

  &__content {
    width: calc(100% - 2rem);
    margin: 0 1rem env(safe-area-inset-bottom);
  }

  &__network {
    display: flex;
    flex-direction: row;
  }

  &__network_name {
    flex: 40 0 0;
    color: var(--color-grey-8);
    padding-top: 0.6rem;
  }

  &__network_rooms {
    flex: 60 0 0;
    color: var(--color-grey-12);
  }

  &__network_rooms_item {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
    color: var(--color-grey-10);
    padding-top: 0.6rem;

    &:hover {
      color: var(--color-grey-14);

      .rooms_list__network_rooms_item__viewers {
        color: var(--color-grey-8);
      }
    }

    &__name,
    &__viewers {
      display: block;
    }

    &__viewers {
      display: flex;
      align-items: center;
      color: var(--color-grey-6);
      margin-left: 0.4rem;
      font-size: 0.9rem;
    }
  }
}

.whispers_list {
  &__table {
    width: calc(100% - 2rem);
    margin: 0 1rem env(safe-area-inset-bottom);
    border-collapse: collapse;
  }

  &__row {
    border-radius: var(--border-radius-small);
    cursor: pointer;
    color: var(--color-grey-10);

    td {
      padding-top: 0.6rem;
    }

    &:hover {
      color: var(--color-grey-14);

      .whispers_list__unread {
        color: var(--color-grey-8);
      }
    }
  }

  &__unread {
    display: inline-block;
    color: var(--color-grey-6);
    margin-left: 0.4rem;
    font-size: 0.9rem;
  }

  &__time {
    text-align: right;
  }
}

.user_list {
  &__content {
    width: calc(100% - 2rem);
    margin: 0 1rem env(safe-area-inset-bottom);
  }

  &__item {
    display: block;
    padding-top: 0.6rem;
    cursor: pointer;
    color: var(--color-grey-10);

    &:hover {
      color: var(--color-grey-14);
    }
  }
}
