.room_menu {
  flex: 1;
  display: flex;
  margin: 5px 10px 0 0;
  padding-bottom: 5px;

  &__anchor {
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
  }

  &__text {
    flex: 1;
  }

  &__icon {
    display: block;
    flex: 0 0 24px;
    height: 24px;
    transition: all var(--timing-short) ease-in-out;
    filter: drop-shadow(0 1px 2px var(--color-opac-b-14));
  }

  &__anchor:hover &__icon {
    transform: scale(1.1);
    filter: drop-shadow(0 4px 8px var(--color-opac-b-7));
  }

  &__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    top: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__item {
    background: var(--body-foreground);
    text-align: left;
    padding: 10px;
    border-top: 1px solid var(--color-opac-w-1);
    cursor: pointer;

    &:last-child {
      border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
    }

    &:hover {
      background: var(--body-background);
    }
  }

  &--open {
    box-shadow: var(--shadow-elevation-2);
    border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;

    .room_menu__menu {
      box-shadow: var(--shadow-elevation-3);
      clip-path: inset(0px -22px -22px -22px);
      border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
    }
  }
}

.room_list {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-elevation-3);
}
