// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.chat {
  &__scroller {
    &__scrollbar_handle {
      border-radius: 3px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out 1s;
      background: var(--color-background-chat-scroll-handle);

      &--scrolling {
        transition-delay: 0.1s;
        opacity: 1;
      }
    }

    &__resume_autoscroll {
      position: absolute;
      background: var(--color-background-chat-scroll-resume);
      color: var(--color-text-chat-scroll-resume);
      width: calc(100% - 15px);
      box-sizing: border-box;
      padding: 5px 10px;
      margin: 0 5px;
      bottom: 5px;
      cursor: pointer;
      border-radius: 3px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: var(--z-index-sticky);
      transition: all var(--timing-medium);

      &--disabled {
        background: var(--color-background-chat-scroll-resume-disabled);
        color: var(--color-text-chat-scroll-resume-disabled);
        cursor: default;
      }
    }
  }
}
