.chat {
  &__scroller {
    &__scrollbar_handle {
      border-radius: 3px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out 1s;
      background: var(--color-chat-scroller-handle);

      &--scrolling {
        transition-delay: 0.1s;
        opacity: 1;
      }
    }

    &__resume_autoscroll {
      position: absolute;
      background: var(--body-background);
      width: calc(100% - 20px);
      padding: 5px;
      margin: 0 5px;
      bottom: 0px;
      cursor: pointer;
      border-radius: 3px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
