// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.chat {
  &__settings_form {
    margin: 0 15px env(safe-area-inset-bottom);

    fieldset {
      margin-top: 10px;

      legend {
        color: var(--color-text-chat-settings-legend);
        text-transform: uppercase;
        font-size: 1.1rem;
      }
    }

    .input_label {
      font-size: 0.8rem;
    }

    .input_label--toggle {
      flex-direction: row-reverse;

      .input_label__body {
        flex-basis: 2.5rem;
      }

      .input_label__text {
        flex: 1;
      }
    }
  }
}
