// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.chat__users_list {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    margin: 0 10px;
    align-items: center;

    .chat__viewer_state_indicator {
      margin-right: 5px;
    }
  }
}
