// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.chat__viewer_state_indicator {
  height: 1rem;

  circle,
  rect {
    fill: var(--fill-color, var(--color-chat-user-presence-indicator-default));
    transition: fill var(--timing-medium) ease-in-out;
  }
}
