// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.input_buttonset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.input_button {
  padding: 0.5rem 0.8rem;
  margin: 0.25rem 0;
  border-radius: 0.25rem;
  color: var(--color-text-input);
  background: var(--color-background-input);

  align-items: center;
  flex: 0;
  white-space: nowrap;
  cursor: pointer;

  &:hover,
  &:focus {
    background: var(--color-background-input-focus);
    color: var(--color-text-input-focus);
  }

  &:active {
    background: var(--color-background-input-active);
    color: var(--color-text-input-active);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active,
  &:disabled:focus {
    background: var(--color-background-input-disabled);
    color: var(--color-text-input-disabled);
  }

  &--borderless {
    background: unset;
    border: none;
    box-shadow: none;
  }

  &--primary {
    --color-background-input: var(--color-green-3);
    --color-background-input-focus: var(--color-green-2);
    --color-background-input-active: var(--color-green-1);
  }
}
