.input {
  font-size: 1em;
  padding: 0.5em 0.8em;
  margin: 0.25em 0;
  border-radius: 0.25em;
  box-shadow: rgba(0, 0, 0, 0.25) inset 1px 1px 1px;
  color: var(--color-text-input);
  background: var(--color-background-input);
  flex: 1;

  &::placeholder {
    color: var(--color-text-input-placeholder);
  }

  &:disabled {
    color: var(--color-text-input-disabled);
    background: var(--color-background-input-disabled);
  }

  &:focus {
    color: var(--color-text-input-focus);
    background: var(--color-background-input-focus);
  }
}

.thing_form,
.thing_list {
  max-width: 1000px;
  display: flex;
  flex-direction: column;

  .input_label,
  .input_buttonset,
  .thing_list__item {
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-bottom-style: none;
    padding: 10px;
    margin: 0;
    border-color: var(--color-border-form-label);
    background: var(--color-background-form-label);

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-style: solid;
    }
  }

  .input_label--button {
    align-items: center;

    &:hover {
      background: var(--color-background-form-label-button-hover);
    }
  }

  .input_buttonset {
    background-color: var(--color-background-form-buttonset);
  }
}

.thing_form {
  max-width: 1000px;
  display: flex;
  flex-direction: column;

  .input_label,
  .input_buttonset {
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-bottom-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;

    &__text {
      display: block;
      flex: 200px 0;
      font-size: 0.8em;
      line-height: 2em;
    }

    &__body {
      flex: 1 1;
    }

    &__description {
      font-size: 0.8em;
      padding: 0.5em 0;
    }
  }
}
