.input_label {
  display: block;
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  &--required > :first-child::after {
    content: "*";
    color: red;
    padding-left: 0.2rem;
  }

  &__text {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }
}

label.input_label {
  cursor: pointer;
}
