.input_select .input_select {
  &-container {
  }

  &__input-container {
    color: var(--color-text-input);
  }

  &__single-value {
    color: var(--color-text-input);
  }

  &__multi-value {
    background: var(--color-background-select-item);

    &__label {
      color: var(--color-text-input);
    }
  }

  &__control {
    box-shadow: rgba(0, 0, 0, 0.25) inset 1px 1px 1px;
    border-style: none;
    background: var(--color-background-input);
    color: var(--color-text-input);
  }

  &__value-container {
  }

  &__indicators {
  }
}

.input_select__menu-portal {
  position: fixed !important;
  z-index: var(--z-index-menu) !important;

  .input_select {
    &__menu {
      background: var(--color-background-input);
      color: var(--color-text-input);
    }

    &__menu-list {
    }

    &__option {
      background: var(--color-background-input);
      color: var(--color-text-input);

      &--is-disabled {
        color: var(--color-text-input-disabled);
      }

      &--is-focused,
      &--is-selected {
        background: var(--color-background-input-focus);
        color: var(--color-text-input-focus);
      }
    }
  }
}
