.input_toggle {
  display: none;

  &__switch,
  &__switch__track {
    border-radius: 0.5rem;
    height: 1rem;
    overflow: hidden;
    position: relative;
    width: 2rem;
    transform: translateZ(0);
  }

  &__switch {
    margin-top: 0.2rem;

    &:before,
    &__track:after {
      content: "";
      display: block;
      height: 1rem;
      position: absolute;
      transition: transform var(--timing-medium) ease-in-out;
    }

    &:before {
      background-image: linear-gradient(
        90deg,
        var(--color-background-input-toggle) 0%,
        var(--color-background-input-toggle) 50%,
        var(--color-background-input) 50%
      );
      transform: translateZ(0) translateX(-2rem);
      width: 4rem;
    }

    &__track {
      box-shadow: rgba(0, 0, 0, 0.25) inset 1px 1px 1px;

      &:after {
        background: var(--color-foreground-toggle);
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px;
        transform: translateZ(0) translateX(0);
        width: 1rem;
      }
    }
  }

  :checked + &__switch:before {
    transform: translateZ(0) translateX(-0.5rem);
  }
  :checked + &__switch &__switch__track:after {
    transform: translateZ(0) translateX(1rem);
  }

  :disabled + &__switch:before {
    background: var(--color-background-input-disabled);
  }
  :disabled + &__switch &__switch__track:after {
    background: var(--color-foreground-toggle-disabled);
  }

  :not(:disabled):hover + &__switch &__switch__track:after {
    background: var(--color-foreground-toggle-focus);
  }
}
