.input_toggle {
  display: none;

  &__switch,
  &__switch__track {
    border-radius: 0.5em;
    height: 1em;
    overflow: hidden;
    position: relative;
    width: 2em;
    transform: translateZ(0);
  }

  &__switch {
    margin-top: 0.2em;

    &:before,
    &__track:after {
      content: "";
      display: block;
      height: 1em;
      position: absolute;
      transition: transform var(--timing-medium) ease-in-out;
    }

    &:before {
      background-image: linear-gradient(
        90deg,
        var(--color-background-input-toggle) 0%,
        var(--color-background-input-toggle) 50%,
        var(--input-bg) 50%
      );
      transform: translateX(-2em);
      width: 4em;
    }

    &__track {
      box-shadow: rgba(0, 0, 0, 0.25) inset 1px 1px 1px;

      &:after {
        background: var(--input-fg);
        border-radius: 0.5em;
        box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px;
        transform: translateX(0);
        width: 1em;
      }
    }
  }

  :checked + &__switch:before {
    transform: translateX(-0.5em);
  }
  :checked + &__switch &__switch__track:after {
    transform: translateX(1em);
  }

  :disabled + &__switch:before {
    background: var(--input-disabled-bg);
  }
  :disabled + &__switch &__switch__track:after {
    background: var(--input-bg);
  }
}
