// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.debugger__tabs {
  display: flex;
  flex-direction: row;
  background: #ddd;
  border-bottom: 1px solid #bbb;
  padding: 1px 1px 0 1px;

  &__tab {
    display: flex;
    margin: 1px 1px -1px 1px;
    border: 1px solid #bbb;
    border-bottom: #ccc;
    font-size: 10px;
    background: #ccc;
    padding: 0.5rem;
    cursor: pointer;
    align-items: center;

    &:hover {
      background: #d6d6d6;
      border-bottom: #d6d6d6;
    }

    svg {
      margin-left: 0.2rem;
    }
  }
}

.debugger__downloads {
  margin: 0.2rem;

  a {
    color: lighten(blue, 10%);

    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }
}

.debugger_graph {
  &__label {
    margin: 0 5px;
  }

  &__plot {
    text {
      font-size: 0.5rem;
    }

    line {
      stroke: #eee;
    }
  }
}
