@import "colors.scss";
@import "mixins.scss";

.badge {
  background: red;
  border-radius: 0.8em;
  display: block;
  font-family: sans-serif;
  font-size: 0.6em;
  line-height: 1em;
  padding: 0.4em 0.3em 0.2em;
  min-width: 1em;
  position: absolute;
  right: -0.4em;
  bottom: -0.5em;
}
