@import "colors.scss";
@import "mixins.scss";

html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

* {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100vw;

  &--dark {
    background: $slate-400;
  }
}

.app__menu {
  background: $slate-300;
  flex: 300px 0;
  padding: 1em;
}

.app__body {
  background: $slate-400;
  flex: 1 1;
  padding: 1em;
}

.app--dark {
  --card-bg: #{$slate-300};
  --card-border: #{$slate-400};

  --input-bg: #{$slate-400};
  --input-color: #{$gray-400};
  --input-disabled-bg: #{$slate-300};
  --input-disabled-color: #{$gray-100};
  --input-placeholder-color: #{$gray-100};
  --input-button-hover-bg: #{$slate-500};
  --input-button-hover-color: #{$gray-500};

  --link-active-bg: #{$slate-300};
  --link-hover-bg: #{$slate-400};
}

.app--light {
  --card-bg: #{$gray-300};
  --card-border: #{$gray-500};

  --input-bg: #{$gray-400};
  --input-color: #{$slate-200};
  --input-disabled-bg: #{$gray-500};
  --input-disabled-color: #{$slate-500};
  --input-placeholder-color: #{$slate-400};
  --input-button-hover-bg: #{$gray-500};
  --input-button-hover-color: #{$slate-300};

  --link-active-bg: #{$gray-300};
  --link-hover-bg: #{$gray-400};
}
