.chat {
  background: var(--body-foreground);
  display: flex;
  flex-direction: column;
  flex: 1 1 500px;
  height: 0;
  font-size: 0.9em;
  line-height: 1.4em;
  position: relative;
  overflow: hidden;

  &__messages {
    flex: 1 1;
    width: 420px;
  }

  &__message {
    box-sizing: border-box;
    overflow-wrap: break-word;
    padding: 3px 7px;

    &__time {
      white-space: nowrap;
      margin-right: 3px;
    }

    &__author {
      background: var(--card-bg);
      border-radius: 3px;
      border: 1px solid var(--card-outset-border-top) var(--card-outset-border-right)
        var(--card-outset-border-bottom) var(--card-outset-border-left);
      display: inline-block;
      padding: 1px 8px 1px 3px;
    }

    &__colon {
      margin: 0 3px 0 -8px;
    }

    &__link {
      color: #02c2ff;
      position: relative;
      word-break: break-all;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: #a66be5;
      }

      @at-root .chat__message--tag_nsfw & {
        border-bottom: 1px dashed red;
      }

      @at-root .chat__message--tag_nsfl & {
        border-bottom: 1px dashed yellow;
      }

      @at-root .chat__message--tag_weeb & {
        border-bottom: 1px dashed pink;
      }

      @at-root .chat__message--tag_loud & {
        border-bottom: 1px dashed #02c2ff;
      }
    }

    &__nick {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &__spoiler {
      cursor: pointer;
      padding: 0 3px;
      transition: color 0.2s ease-in-out;

      @include color-scheme("dark") {
        background: $slate-200;
      }
      @include color-scheme("light") {
        background: $gray-800;
      }

      & > .chat__emote,
      & > .chat__emote_container,
      & > .chat__message__code,
      & > .chat__message__link {
        transition: opacity 0.2s ease-in-out;
      }

      &--hidden {
        color: transparent;

        & > .chat__emote,
        & > .chat__emote_container,
        & > .chat__message__code,
        & > .chat__message__link {
          opacity: 0;
        }
      }
    }

    &__code {
      color: gray;
      font-family: monospace;
    }

    &__greentext {
      color: #6ca528;
    }
  }

  &__combo_message {
    line-height: 34px;
    padding-left: 5px;

    &__body {
      display: inline-block;
    }

    &__hits,
    &__combo,
    &__count,
    &__x {
      font-style: normal;
      display: inline-block;
      vertical-align: middle;

      @include color-scheme("dark") {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      }
      @include color-scheme("light") {
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
      }
    }

    &__combo {
      display: none;
      font-weight: normal;
    }

    &--hit .chat__combo_message__hits {
      animation: emote-hit 600ms 1;
    }

    &__hits {
      color: var(--body-color);
      font-style: italic;
      text-transform: uppercase;
      margin-left: 0;
      letter-spacing: 0.05em;
      display: inline-block;
    }

    &__count {
      font-size: 1.2em;
      letter-spacing: -0.05em;
      font-weight: bold;
    }

    &--scale_5 {
      .chat__combo_message__count {
        font-size: 1.5em;
      }
    }

    &--scale_10,
    &--scale_15 {
      .chat__combo_message__count {
        font-size: 2em;
      }
      .chat__combo_message__combo {
        font-weight: bold;
      }
    }

    &--scale_20,
    &--scale_25 {
      .chat__combo_message__count {
        font-size: 3em;
      }
      .chat__combo_message__combo {
        font-weight: bold;
      }
    }

    &--scale_30,
    &--scale_35,
    &--scale_40,
    &--scale_45 {
      padding-bottom: 0.5em;

      .chat__combo_message__count {
        font-size: 4em;
      }
      .chat__combo_message__combo {
        font-weight: bold;
      }
    }

    &--scale_50 {
      padding-bottom: 0.7em;

      .chat__combo_message__count {
        font-size: 5em;
      }
      .chat__combo_message__combo {
        font-weight: bold;
      }
    }

    &--complete {
      &.chat__combo_message--scale_10,
      &.chat__combo_message--scale_20,
      &.chat__combo_message--scale_30,
      &.chat__combo_message--scale_50 {
        .chat__combo_message__body {
          animation: emote-greyout 3500ms 1;
          background: transparent url("../../assets/splat.png") no-repeat center center;
          background-size: 100% 100%;
          filter: grayscale(100%);
        }

        .chat__combo_message__combo {
          color: var(--body-color);
          margin-left: 5px;
        }
      }

      .chat__combo_message__combo {
        animation: emote-complete 1000ms 1;
        display: inline-block;
      }

      .chat__combo_message__hits {
        display: none;
      }
    }

    @keyframes emote-hit {
      0% {
        color: #b91010;
        font-size: 200%;
      }
      1% {
        color: var(--body-color);
        font-size: 190%;
      }
      2% {
        color: #b91010;
        font-size: 200%;
      }
      3% {
        color: var(--body-color);
        font-size: 190%;
      }
      4% {
        color: #b91010;
        font-size: 200%;
      }
      100% {
        color: var(--body-color);
        font-size: 120%;
      }
    }

    @keyframes emote-complete {
      0% {
        transform: translate(-10px, 0);
        text-shadow: 0 0 3px rgba(white, 1);
      }
      2% {
        transform: translate(10px, 0);
        color: white;
        text-shadow: 0 0 10px rgba(white, 0.5);
      }
      100% {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    @keyframes emote-greyout {
      0% {
        filter: grayscale(0);
      }
      75% {
        filter: grayscale(0);
      }
      100% {
        filter: grayscale(100%);
      }
    }
  }

  &__scroller {
    &__scrollbar_handle {
      border-radius: 3px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out 1s;

      @include color-scheme("dark") {
        background: rgba($white, 0.5);
      }
      @include color-scheme("light") {
        background: rgba($slate-300, 0.5);
      }

      &--scrolling {
        transition-delay: 0.1s;
        opacity: 1;
      }
    }

    &__resume_autoscroll {
      position: absolute;
      background: var(--body-background);
      width: calc(100% - 20px);
      padding: 5px;
      margin: 0 5px;
      bottom: 0px;
      cursor: pointer;
      border-radius: 3px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__emote {
    display: inline-block;
    margin: 0 3px;
    overflow: hidden;
    text-indent: -10000px;
  }

  &__emote_container {
    display: inline-block;

    &--wide {
      transform: scaleX(1.5) scaleY(0.8);
      margin: 0 calc(var(--width) * 0.25);
    }

    &--smol {
      transform: scaleX(0.5) scaleY(0.5);
      margin: 0 calc(var(--width) * -0.25);
    }

    &--smol &--wide {
      margin: 0 calc(var(--width) * 0.125);
    }

    &--wide &--smol {
      margin: 0 calc(var(--width) * -0.375);
    }

    &--mirror {
      transform: scaleX(-1);
    }

    &--flip {
      transform: scaleY(-1);
    }

    &--spin {
      animation: spin linear 800ms 3;

      &:hover {
        animation: spin linear 800ms infinite;
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    &--rustle {
      animation: rustle linear 100ms 7;
    }

    &--rustle.chat__emote_container--animated {
      animation: rustle linear 100ms
        calc(var(--animation-duration-ms) * var(--animation-iterations) / 100);
    }

    &--rustle:hover,
    &--rustle.chat__emote_container--animated:hover,
    &--rustle.chat__emote_container--animate_forever {
      animation: rustle linear 100ms infinite;
    }

    @keyframes rustle {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(3px);
      }
    }

    &--gold {
      box-sizing: border-box;
      display: inline-block;
      height: var(--height);
      margin: calc(0.5em - var(--height) / 2) 3px;
      mask-image: var(--background-image);
      mask-size: var(--width) var(--height);
      overflow: hidden;
      position: relative;
      width: var(--width);

      &.chat__emote_container--animated {
        mask-position: calc(-1 * var(--animation-end-on-frame) * var(--width)) 0;
        mask-size: var(--animation-spritesheet-width) var(--height);
      }

      &:before,
      &:after {
        top: 0;
        left: 0;
        display: block;
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
      }

      &:before {
        background: linear-gradient(
          45deg,
          hsl(44, 82%, 47%) 0%,
          hsl(49, 82%, 60%) 30%,
          hsl(58, 91%, 64%) 61%,
          hsl(58, 91%, 64%) 61%,
          hsl(57, 90%, 69%) 100%
        );
        filter: blur(2px);
      }

      &:after {
        animation: glimmer 5s linear 1;
        background: -webkit-radial-gradient(
          center,
          ellipse cover,
          rgba(255, 255, 255, 1) 1%,
          rgba(2, 2, 2, 1) 33%
        );
        mix-blend-mode: screen;
        opacity: 0;
        z-index: 2;
      }

      &:hover:after,
      &.chat__emote_container--animate_forever:after {
        animation: glimmer 5s linear infinite;
      }

      .chat__emote {
        filter: contrast(125%) grayscale(100%) brightness(0.75);
        margin: 0;
        mix-blend-mode: color-burn;
        z-index: 1;
      }

      &.chat__emote_container--animated .chat__emote,
      &.chat__emote_container--animated .chat__emote--animate_forever {
        animation: none;
      }
    }

    @keyframes glimmer {
      0% {
        transform: translate(-50px, 50px) scale(4);
        opacity: 1;
      }
      20% {
        transform: translate(50px, -50px) scale(4);
        opacity: 1;
      }
      21% {
        opacity: 0;
      }
      100% {
        transform: translate(-50px, 50px) scale(4);
        opacity: 0;
      }
    }
  }

  &__footer {
    flex: 0 1;
  }

  &__nav {
    flex: 0 1;
    display: flex;
    flex-direction: row;

    &__left,
    &__right {
      flex: 1;
      display: flex;
      flex-direction: row;
    }

    &__right {
      justify-content: flex-end;
    }

    &__icon {
      width: 20px;
      height: 20px;
      margin: 0 5px 5px;
      cursor: pointer;

      @include color-scheme("dark") {
        color: rgba($white, 0.5);
      }
      @include color-scheme("light") {
        color: rgba($slate-300, 0.5);
      }

      &--active {
        @include color-scheme("dark") {
          color: rgba($white, 0.8);
        }
        @include color-scheme("light") {
          color: rgba($slate-300, 0.8);
        }
      }
    }
  }

  &__drawer {
    $width: 350px;

    background: var(--body-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    transition: transform 0.2s ease-in-out;
    width: $width;
    z-index: 1;

    &--left {
      transform: translateX(-$width - 1);
    }

    &--right {
      right: 0;
      transform: translateX($width + 1);
    }

    &--active {
      transform: translateX(0);
      z-index: 2;
    }

    &__header {
      align-items: center;
      border-bottom: 1px solid var(--body-border-color);
      color: (--body-color);
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;

      &__close_button {
        height: 15px;
        width: 15px;
        cursor: pointer;
      }
    }

    &__body {
      flex: 1;
    }
  }

  &__composer {
    background: var(--input-bg);
    border-radius: 3px;
    border: 1px solid var(--input-border-color);
    color: var(--input-color);
    margin: 5px;
    padding: 10px 5px;

    [data-slate-string] {
      word-break: break-word;
    }

    &__span {
      &--self {
        font-style: italic;
      }

      &--greentext {
        color: #6ca528;
      }

      &--code {
        color: gray;
        font-family: monospace;
      }

      &--spoiler {
        color: gray;
      }

      &--url {
        color: red;
      }

      &--emote {
        color: orange;
      }

      &--tag {
        color: yellow;
      }

      &--nick {
        color: skyblue;
      }
    }

    &__autocomplete {
      position: absolute;

      &__list {
        border-radius: 3px;
        bottom: 20px;
        display: block;
        margin: 0;
        padding: 10px;
        position: absolute;

        @include color-scheme("dark") {
          background: $slate-200;
        }
        @include color-scheme("light") {
          background: $gray-500;
        }
      }

      &__item {
        padding: 2px 4px;
        border-radius: 3px;

        &--selected {
          @include color-scheme("dark") {
            background: $slate-400;
          }
          @include color-scheme("light") {
            background: $gray-300;
          }
        }
      }
    }
  }

  &__emote_grid {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0.5em;

    &__emote {
      margin: 0.8em 0.4em;
    }
  }

  &__settings_form {
    margin: 0 15px;

    fieldset {
      margin-top: 10px;

      legend {
        color: $gray-200;
        text-transform: uppercase;
        font-size: 1.1em;
      }
    }

    .input_label--toggle {
      flex-direction: row-reverse;

      .input_label__body {
        flex-basis: 2.5em;
      }

      .input_label__text {
        flex: 1;
      }
    }
  }
}
