.chat {
  display: flex;
  flex-direction: column;
  flex: 1 1 500px;
  height: 0;

  &__messages {
    flex: 1 1;
    overflow-y: auto;
    width: 420px;
    overflow-wrap: break-word;
  }

  &__emote {
    display: inline-block;
    text-indent: -10000px;
    overflow: hidden;
    margin: -5px 3px;
  }

  &__emote_container {
    display: inline-block;

    &--wide {
      transform: scaleX(1.5) scaleY(0.8);
      margin: 0 5px;
    }

    &--mirror {
      transform: scaleX(-1);
    }

    &--flip {
      transform: scaleY(-1);
    }
  }

  &__footer {
    flex: 0 1;
  }

  &__composer {
    background: $slate-300;
    margin: 5px;
    padding: 10px 5px;
    border-radius: 3px;
    border: 1px solid $slate-500;

    &__span {
      &--self {
        font-style: italic;
      }

      &--greentext {
        color: green;
      }

      &--code {
        color: gray;
        font-family: monospace;
      }

      &--spoiler {
        color: gray;
      }

      &--url {
        color: red;
      }

      &--emote {
        color: orange;
      }

      &--tag {
        color: yellow;
      }

      &--nick {
        color: skyblue;
      }
    }

    &__autocomplete {
      position: absolute;

      &__list {
        position: absolute;
        background: black;
        bottom: 20px;
        display: block;
        margin: 0;
        padding: 10px;
      }

      &__item {
        padding: 2px 4px;
        border-radius: 3px;

        &--selected {
          background: $slate-400;
        }
      }
    }
  }
}
