.chat {
  background: var(--body-foreground);
  display: flex;
  flex-direction: column;
  flex: 1 1 500px;
  height: 0;
  font-size: 0.9em;
  line-height: 1.4em;
  position: relative;
  overflow: hidden;

  &__messages {
    flex: 1 1;
    width: 420px;
  }

  &__message {
    box-sizing: border-box;
    overflow-wrap: break-word;
    padding: 3px 7px;

    &__time {
      white-space: nowrap;
      margin-right: 3px;
      display: none;
    }

    &__author {
      background: var(--card-bg);
      border-radius: 3px;
      border: 1px solid var(--card-outset-border-top) var(--card-outset-border-right)
        var(--card-outset-border-bottom) var(--card-outset-border-left);
      display: inline-block;
      padding: 1px 8px 1px 3px;
    }

    &__colon {
      margin: 0 3px 0 -8px;
    }

    &__link {
      color: #02c2ff;
      position: relative;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: #a66be5;
      }

      @at-root .chat__message--tag_nsfw & {
        border-bottom: 1px dashed red;
      }

      @at-root .chat__message--tag_nsfl & {
        border-bottom: 1px dashed yellow;
      }

      @at-root .chat__message--tag_weeb & {
        border-bottom: 1px dashed pink;
      }

      @at-root .chat__message--tag_loud & {
        border-bottom: 1px dashed #02c2ff;
      }
    }

    &__nick {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &__spoiler {
      cursor: pointer;
      background: $slate-400;
      padding: 0 3px;
      transition: color 0.2s ease-in-out;

      & > .chat__emote,
      & > .chat__emote_container,
      & > .chat__message__code,
      & > .chat__message__link {
        transition: opacity 0.2s ease-in-out;
      }

      &--hidden {
        color: transparent;

        & > .chat__emote,
        & > .chat__emote_container,
        & > .chat__message__code,
        & > .chat__message__link {
          opacity: 0;
        }
      }
    }

    &__code {
      color: gray;
      font-family: monospace;
    }

    &__greentext {
      color: #6ca528;
    }
  }

  &__scroller {
    &__scrollbar_handle {
      border-radius: 3px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out 1s;

      @include color-scheme("dark") {
        background: rgba($white, 0.5);
      }
      @include color-scheme("light") {
        background: rgba($slate-300, 0.5);
      }

      &--scrolling {
        transition-delay: 0.1s;
        opacity: 1;
      }
    }
  }

  &__emote {
    display: inline-block;
    margin: 0 3px;
    overflow: hidden;
    text-indent: -10000px;
  }

  &__emote_container {
    display: inline-block;

    &--wide {
      transform: scaleX(1.5) scaleY(0.8);
      margin: 0 5px;
    }

    &--mirror {
      transform: scaleX(-1);
    }

    &--flip {
      transform: scaleY(-1);
    }
  }

  &__footer {
    flex: 0 1;
  }

  &__nav {
    flex: 0 1;
    display: flex;
    flex-direction: row;

    &__left,
    &__right {
      flex: 1;
      display: flex;
      flex-direction: row;
    }

    &__right {
      justify-content: flex-end;
    }

    &__icon {
      width: 20px;
      height: 20px;
      margin: 0 5px 5px;
      cursor: pointer;

      @include color-scheme("dark") {
        color: rgba($white, 0.5);
      }
      @include color-scheme("light") {
        color: rgba($slate-300, 0.5);
      }

      &--active {
        @include color-scheme("dark") {
          color: rgba($white, 0.8);
        }
        @include color-scheme("light") {
          color: rgba($slate-300, 0.8);
        }
      }
    }
  }

  &__drawer {
    $width: 350px;

    background: var(--body-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    transition: transform 0.2s ease-in-out;
    width: $width;
    z-index: 1;

    &--left {
      transform: translateX(-$width - 1);
    }

    &--right {
      right: 0;
      transform: translateX($width + 1);
    }

    &--active {
      transform: translateX(0);
      z-index: 2;
    }

    &__header {
      align-items: center;
      border-bottom: 1px solid var(--body-border-color);
      color: (--body-color);
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;

      &__close_button {
        height: 15px;
        width: 15px;
        cursor: pointer;
      }
    }

    &__body {
      flex: 1;
    }
  }

  &__composer {
    background: var(--input-bg);
    border-radius: 3px;
    border: 1px solid var(--input-border-color);
    color: var(--input-color);
    margin: 5px;
    padding: 10px 5px;

    &__span {
      &--self {
        font-style: italic;
      }

      &--greentext {
        color: #6ca528;
      }

      &--code {
        color: gray;
        font-family: monospace;
      }

      &--spoiler {
        color: gray;
      }

      &--url {
        color: red;
      }

      &--emote {
        color: orange;
      }

      &--tag {
        color: yellow;
      }

      &--nick {
        color: skyblue;
      }
    }

    &__autocomplete {
      position: absolute;

      &__list {
        border-radius: 3px;
        bottom: 20px;
        display: block;
        margin: 0;
        padding: 10px;
        position: absolute;

        @include color-scheme("dark") {
          background: $slate-200;
        }
        @include color-scheme("light") {
          background: $gray-500;
        }
      }

      &__item {
        padding: 2px 4px;
        border-radius: 3px;

        &--selected {
          @include color-scheme("dark") {
            background: $slate-400;
          }
          @include color-scheme("light") {
            background: $gray-300;
          }
        }
      }
    }
  }

  &__emote_grid {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0.5em;

    &__emote {
      margin: 0.8em 0.4em;
    }
  }

  &__settings_form {
    margin: 0 15px;

    fieldset {
      margin-top: 10px;

      legend {
        color: $gray-200;
        text-transform: uppercase;
        font-size: 1.1em;
      }
    }

    .input_label--toggle {
      flex-direction: row-reverse;

      .input_label__body {
        flex-basis: 2.5em;
      }

      .input_label__text {
        flex: 1;
      }
    }
  }
}
