// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

$slate-base: #222933;
$red-base: #aa0000;
$green-base: #00aa00;
$gray-base: #bbb;
$black: #111;
$white: #eee;

$slate-100: darken($slate-base, 10%);
$slate-200: darken($slate-base, 5%);
$slate-300: $slate-base;
$slate-400: lighten($slate-base, 5%);
$slate-500: lighten($slate-base, 10%);

$red-100: darken($red-base, 10%);
$red-200: darken($red-base, 5%);
$red-300: $red-base;
$red-400: lighten($red-base, 5%);
$red-500: lighten($red-base, 10%);

$green-100: darken($green-base, 10%);
$green-200: darken($green-base, 5%);
$green-300: $green-base;
$green-400: lighten($green-base, 5%);
$green-500: lighten($green-base, 10%);

$gray-100: darken($gray-base, 10%);
$gray-200: darken($gray-base, 5%);
$gray-300: $gray-base;
$gray-400: lighten($gray-base, 5%);
$gray-500: lighten($gray-base, 10%);
$gray-600: lighten($gray-base, 15%);
$gray-700: lighten($gray-base, 20%);
$gray-800: lighten($gray-base, 25%);
$gray-900: lighten($gray-base, 30%);
