@import "colors.scss";
@import "mixins.scss";


.login_profile_list {
  &__item {
    background: $slate-400;
    border-radius: 0.5em;
    border: 1px solid $slate-500;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px;
    color: $gray-400;
    cursor: pointer;
    padding: 1em;
    margin: 0.75em 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      background: $slate-500;
    }
  }

  &__icon {
    display: block;
    padding-right: 0.5em;
    height: 1.3em;
    width: 1.3em;
  }
}

.landing_page {
  height: 500px;
  flex: 0 1 800px;
  overflow-y: auto;
  display: flex;
  align-self: center;
  margin: 0 auto;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 15px;

  @include respond-to('small') {
    flex-direction: row;
  }

  &__header {
    flex: 0 50%;
    background: $slate-200;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;

    &__title {
      display: block;
      font-size: 2.2em;
      margin: 0.1em 0;
      color: $gray-500;
    }

    &__tagline {
      margin: 0.1em 0;
      color: $gray-300;
    }
  }

  &__form_container {
    flex: 0 50%;
    background: $slate-300;
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding: 2em;

    .input_button--borderless {
      color: $gray-300;
      &:hover {
        color: $gray-500;
      }
    }
  }
}
