@import "colors.scss";
@import "mixins.scss";

.page_body {
  overflow: auto;
  flex: 1;
}

.network_page {
  padding: 20px;
}

.thing_list {
  margin: 20px 0;

  &__modal_mask {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
  }

  &__modal {
    background: white;
    left: 50%;
    margin-left: -420px;
    padding: 20px;
    position: fixed;
    top: 50%;
    width: 800px;
    z-index: 999;
  }
}

.test_image {
  animation: 10s linear;
}
