// https://github.com/react-component/tooltip/blob/master/assets/bootstrap_white.less

//
// Tooltips
// --------------------------------------------------
$font-size-base: 12px;
$line-height-base: 1.5;
$border-radius-base: 3px;
$overlay-shadow: 0 0 4px opacify($black, 0.25);
//** Tooltip text color
$tooltip-color: $white;
//** Tooltip background color
$tooltip-bg: opacify($black, 0.8);
$tooltip-opacity: 1;

$tooltip-border-width: 1px;
$tooltip-border-color: $black;
$tooltip-shadow-width: 1px;

//** Tooltip arrow width
$tooltip-arrow-width: 6px;
//** Tooltip distance with trigger
//** Tooltip arrow color
$tooltip-arrow-color: $tooltip-border-color;
$tooltip-arrow-inner-color: $tooltip-bg;

// Base class
.rc-tooltip {
  display: block;
  font-size: $font-size-base;
  line-height: $line-height-base;
  opacity: $tooltip-opacity;
  padding: $tooltip-shadow-width;
  position: absolute;
  visibility: visible;
  z-index: 10;

  &-hidden {
    display: none;
  }
}

// Wrapper for the tooltip content
.rc-tooltip-inner {
  background-color: $tooltip-bg;
  border-radius: $border-radius-base;
  border: $tooltip-border-width solid $tooltip-border-color;
  box-shadow: $overlay-shadow;
  color: $tooltip-color;
  padding: 8px 10px;
  text-align: left;
  text-decoration: none;
}

// Arrows
.rc-tooltip-arrow,
.rc-tooltip-arrow-inner{
  border-color: transparent;
  border-style: solid;
  height: 0;
  position: absolute;
  width: 0;
}

.rc-tooltip {
  &-placement-top &-arrow,
  &-placement-topLeft &-arrow,
  &-placement-topRight &-arrow{
    border-top-color: $tooltip-arrow-color;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    bottom: -$tooltip-arrow-width + $tooltip-shadow-width;
    margin-left: -$tooltip-arrow-width;
  }

  &-placement-top &-arrow-inner,
  &-placement-topLeft &-arrow-inner,
  &-placement-topRight &-arrow-inner{
    border-top-color: $tooltip-arrow-inner-color;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    bottom: $tooltip-border-width;
    margin-left: -$tooltip-arrow-width;
  }

  &-placement-top &-arrow {
    left: 50%;
  }

  &-placement-topLeft &-arrow {
    left: 15%;
  }

  &-placement-topRight &-arrow {
    right: 15%;
  }

  &-placement-right &-arrow,
  &-placement-rightTop &-arrow,
  &-placement-rightBottom &-arrow {
    border-right-color: $tooltip-arrow-color;
    border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
    left: -$tooltip-arrow-width + $tooltip-shadow-width;
    margin-top: -$tooltip-arrow-width;
  }

  &-placement-right &-arrow-inner,
  &-placement-rightTop &-arrow-inner,
  &-placement-rightBottom &-arrow-inner {
    border-right-color: $tooltip-arrow-inner-color;
    border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
    left: $tooltip-border-width;
    margin-top: -$tooltip-arrow-width;
  }

  &-placement-right &-arrow {
    top: 50%;
  }

  &-placement-rightTop &-arrow {
    top: 15%;
    margin-top: 0;
  }

  &-placement-rightBottom &-arrow {
    bottom: 15%;
  }

  &-placement-left &-arrow,
  &-placement-leftTop &-arrow,
  &-placement-leftBottom &-arrow {
    border-left-color: $tooltip-arrow-color;
    border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
    margin-top: -$tooltip-arrow-width;
    right: -$tooltip-arrow-width + $tooltip-shadow-width;
  }

  &-placement-left &-arrow-inner,
  &-placement-leftTop &-arrow-inner,
  &-placement-leftBottom &-arrow-inner {
    border-left-color: $tooltip-arrow-inner-color;
    border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
    margin-top: -$tooltip-arrow-width;
    right: $tooltip-border-width;
  }

  &-placement-left &-arrow {
    top: 50%;
  }

  &-placement-leftTop &-arrow {
    top: 15%;
    margin-top: 0;
  }

  &-placement-leftBottom &-arrow {
    bottom: 15%;
  }

  &-placement-bottom &-arrow,
  &-placement-bottomLeft &-arrow,
  &-placement-bottomRight &-arrow {
    border-bottom-color: $tooltip-arrow-color;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    margin-left: -$tooltip-arrow-width;
    top: -$tooltip-arrow-width + $tooltip-shadow-width;
  }

  &-placement-bottom &-arrow-inner,
  &-placement-bottomLeft &-arrow-inner,
  &-placement-bottomRight &-arrow-inner {
    border-bottom-color: $tooltip-arrow-inner-color;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    margin-left: -$tooltip-arrow-width;
    top: $tooltip-border-width;
  }

  &-placement-bottom &-arrow {
    left: 50%;
  }

  &-placement-bottomLeft &-arrow {
    left: 15%;
  }

  &-placement-bottomRight &-arrow {
    right: 15%;
  }
}
