persistence:
  enabled: true
  storageClass: local-path
  size: 10Gi
postgresqlDatabase: strims
postgresqlUsername: strims
postgresqlPassword: strims
initdbScripts:
  db-init.sql: |
    CREATE TABLE IF NOT EXISTS "nodes" (
      "id"                BIGSERIAL PRIMARY KEY,
      "started_at"        BIGINT NOT NULL,
      "stopped_at"        BIGINT,
      "provider_name"     TEXT NOT NULL,
      "provider_id"       TEXT NOT NULL,
      "name"              TEXT NOT NULL,
      "ip_v4"             TEXT NOT NULL,
      "ip_v6"             TEXT NOT NULL,
      "region_name"       TEXT NOT NULL,
      "region_lat"        DOUBLE PRECISION NOT NULL,
      "region_lng"        DOUBLE PRECISION NOT NULL,
      "sku_name"          TEXT NOT NULL,
      "sku_network_cap"   INTEGER NOT NULL,
      "sku_network_speed" INTEGER NOT NULL,
      "sku_price_monthly" REAL NOT NULL,
      "sku_price_hourly"  REAL NOT NULL,
      "sku_memory"        INTEGER NOT NULL,
      "sku_cpus"          INTEGER NOT NULL,
      "sku_disk"          INTEGER NOT NULL,
      "wireguard_key"     TEXT NOT NULL,
      "wireguard_ip"      TEXT NOT NULL,
      "user"              TEXT NOT NULL,
      UNIQUE ("provider_name", "provider_id"),
      UNIQUE ("name")
    );

    INSERT INTO nodes
    VALUES (
      to_char(CURRENT_TIMESTAMP, 'yyyymmddhh24miss')::bigint,
      'custom',
      'custom',
      'controller',
      '0.0.0.0',
      '::/0',
      'n/a',
      0.0,
      0.0,
      'custom',
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      'key',
      '10.0.0.1',
      'root');


    CREATE TABLE IF NOT EXISTS "usage" (
      "id"                BIGSERIAL PRIMARY KEY,
      "node_id"           BIGINT NOT NULL,
      "time"              BIGINT NOT NULL,
      "mem"               DOUBLE PRECISION NOT NULL,
      "cpu"               DOUBLE PRECISION NOT NULL,
      "network_in"        DOUBLE PRECISION NOT NULL,
      "network_out"       DOUBLE PRECISION NOT NULL
    );
