.layout_chat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &__body {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__toggle_on,
  &__toggle_off {
    margin: 14px 10px;
    display: block;
    cursor: pointer;
  }

  &__toggle_on {
    display: none;
  }

  &__header {
    display: flex;
    flex-direction: row;
  }
}

.layout--tv,
.layout--pc {
  .layout_chat--closed {
    .layout_chat {
      &__toggle_on {
        display: block;
        position: absolute;
        left: -50px;
        z-index: 1000;
        opacity: 0.8;
      }

      &__body {
        display: none;
      }
    }
  }

  .layout_chat__toggle_off {
    transform: rotate(-90deg);
  }

  &.layout--min_aspect_ratio_1_2 {
    .layout_chat__toggle_off {
      transform: scaleX(-1);
    }

    &.layout--swap {
      .layout_chat {
        &__toggle_off {
          transform: unset;
        }

        &__toggle_on {
          left: 0px;
          transform: scaleX(-1);
        }
      }
    }
  }

  .layout_chat__header {
    border-bottom: 1px solid var(--color-opac-w-2);
  }
}

.layout--portable {
  .layout_chat {
    &__header {
      position: absolute;
      width: 100%;
      height: calc(100% + env(safe-area-inset-bottom));
      z-index: var(--z-index-above);
      transition: height var(--timing-medium) step-end;
      user-select: none;
      overflow: hidden;
      pointer-events: none;

      &__room_list_button {
        position: absolute;
        right: 0;
        padding: 10px;
        z-index: 1;
        pointer-events: visible;
      }

      &__room_list {
        pointer-events: visible;
        background: var(--color-background-chat);
        transform: translateY(-100%);
        transition: transform var(--timing-medium) ease-in-out;
      }

      &--open {
        .layout_chat__header__room_list {
          transform: translateY(0);
        }
      }
    }
  }
}
