// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.layout_chat_bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 0.2rem;
  box-sizing: border-box;

  @at-root .layout--swap & {
    flex-direction: row-reverse;
  }
}

.chat_popout {
  font-size: 0.8rem;
  width: 330px;
  height: 300px;
  --chat-width: 330px;
  --chat-height: 500px;
  background: var(--body-foreground);
  display: flex;
  flex-direction: column;
  margin-right: 0.4rem;
  position: relative;
  box-shadow: var(--shadow-elevation-3);
  z-index: var(--z-index-overlay);
  transition: var(--timing-medium);
  border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
  pointer-events: all;

  &--minimized {
    height: 32px;
    width: 200px;
    box-shadow: var(--shadow-elevation-2);
  }

  &__header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--color-opac-w-1);
    padding: 0.2rem 0.2rem 0.2rem 0.6rem;
  }

  &__title {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__control {
    cursor: pointer;
    padding: 0.4rem;
    margin-left: 0.2rem;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-small);

    &:hover {
      background: var(--color-opac-w-1);
    }
  }

  &__return_icon {
    transform: scaleX(-1);
  }

  &__messages {
    flex: 1;
    position: relative;
  }
}
