// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.layout_chat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &__body {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__toggle {
    margin: 7px;
    display: block;
    cursor: pointer;
    border-radius: var(--border-radius-small);

    svg {
      display: block;
      padding: 10px;
    }

    &--off:hover {
      background: var(--color-background-chat-toggle-hover);
    }
  }

  &__toggle--on {
    display: none;
  }

  &__header {
    height: 52px;
    border-bottom: 1px solid var(--color-opac-w-2);
    display: flex;
    flex-direction: row;
    font-size: 1rem;
  }

  &__foo {
    position: absolute;
    box-shadow: var(--shadow-elevation-2);
    background: var(--color-background-layout-chat-menu);
    height: calc(100% + env(safe-area-inset-bottom));
    width: calc(100% - 10px);
    z-index: var(--z-index-above);
    right: 0;
    --swipable-peek-size: 0px;
  }
}

.layout--tv,
.layout--pc {
  .layout_chat__room_carousel {
    width: calc(100% - 96px);
  }
}

.layout--portable {
  .layout_chat {
    &__room_carousel {
      width: 100%;
    }
  }

  &.layout--min_aspect_ratio_2 {
    .layout_chat__room_carousel {
      width: calc(100% - 48px);
    }

    &.layout--landscape_cw.layout--swap,
    &.layout--landscape_ccw.layout--swap {
      .layout_chat__header {
        padding-right: 7px;
        padding-left: calc(env(safe-area-inset-left) - 24px);
      }
    }

    &.layout--landscape_cw:not(.layout--swap),
    &.layout--landscape_ccw:not(.layout--swap) {
      .layout_chat__header {
        padding-left: 7px;
        padding-right: calc(env(safe-area-inset-right) - 24px);
      }
    }

    &.layout--landscape_ccw:not(.layout--show_video) .layout_chat__header {
      padding-left: env(safe-area-inset-left);
    }
  }

  &.layout--min_aspect_ratio_1_2.layout--show_video {
    .layout_chat__room_carousel {
      width: 100%;
    }
  }

  &.layout--min_aspect_ratio_4.layout--show_chat.layout--meme_open {
    .layout_chat__header {
      display: none;
    }
  }

  &.layout--landscape_ccw:not(.layout--show_video) .layout_chat__foo {
    width: calc(100% - env(safe-area-inset-left));
  }
}

.layout--tv,
.layout--pc {
  .layout_chat--closed {
    .layout_chat {
      &__toggle--on {
        display: block;
        position: absolute;
        left: -50px;
        z-index: 1000;
        opacity: 0.8;
      }

      &__body {
        display: none;
      }
    }
  }

  .layout_chat__toggle--off {
    transform: rotate(180deg);
  }

  &.layout--meme_open .layout_chat__toggle--off {
    transform: rotate(-90deg);
  }

  &.layout--min_aspect_ratio_1_2 {
    .layout_chat__toggle--off {
      transform: scaleX(-1);
    }

    &.layout--swap {
      .layout_chat {
        &__toggle--off {
          transform: unset;
        }

        &__toggle--on {
          left: 0px;
          transform: scaleX(-1);
        }
      }
    }
  }

  .layout_chat__header {
    border-bottom: 1px solid var(--color-opac-w-2);
  }
}
