// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

  &__button {
    display: flex;
    padding: 0 10px;
    align-items: center;
    -webkit-touch-callout: none;

    &__icon {
      height: 28px;
      width: 28px;
    }
  }
}

.layout--min_aspect_ratio_1_2 .footer {
  flex-direction: column;

  &__button {
    padding: 10px 0;
  }
}

.footer__settings {
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;

    @at-root {
      .layout--landscape_cw &,
      .layout--landscape_ccw & {
        margin-left: 10px;
      }
    }
  }

  &__menu_button {
    padding: 0.5rem;
    line-height: 0;
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    z-index: var(--z-index-default);

    &--open {
      display: block;
    }
  }
}
