// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.layout_header {
  flex: 0 0 50px;
  display: flex;
  flex-direction: row;
  box-shadow: var(--shadow-elevation-2);
  background: var(--color-background-layout-header);

  &__primary_nav {
    flex: 1;
    display: flex;
    justify-content: flex-start;

    &__link,
    &__logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__logo {
      width: var(--network-nav-collapsed-width);
      padding: 0;
      display: flex;
      align-items: center;
      align-content: center;
      font-size: 0;
      color: transparent;

      &:after {
        display: block;
        content: "";
        height: 26px;
        width: 26px;
        background-image: url("../../../assets/ComfyApe.png");
        background-size: 100%;
        transition: all var(--timing-medium) ease-in-out;
        filter: drop-shadow(0 1px 2px var(--color-opac-b-14));
      }

      &:hover:after {
        transform: scale(1.1);
        filter: drop-shadow(0 4px 8px var(--color-opac-b-7));
      }
    }

    &__link {
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      padding: 0 0.5rem;

      &:after {
        display: block;
        content: "";
        background: var(--color-strims-orange-2);
        border-radius: 2px;
        height: 8px;
        top: 100%;
        transition: all var(--timing-medium) ease-in-out;
        width: 50%;
        position: absolute;
        left: 25%;
      }

      &--active:after {
        width: calc(100% - 20px);
        left: 10px;
      }

      &--active:after,
      &:hover:after {
        transform: translateY(-4px);
        background: var(--color-strims-orange-14);
      }
    }
  }

  &__search {
    flex: 0 1 300px;
    display: none;
    flex-direction: row;
    align-items: center;

    @at-root .layout--min_width_md & {
      display: flex;
    }

    &__input {
      border: none;
      display: block;
      flex: 1 1;
      height: 2rem;
      outline: none;
      padding: 0 0.5rem;
      width: 100px;
      width: auto;
      background: var(--color-background-input);
    }

    &__button {
      border: none;
      display: flex;
      flex: 0 1 1.5rem;
      height: 2rem;
      align-items: center;
      outline: none;
      background: var(--color-background-input);
    }
  }

  &__user_nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;

    &__link {
      display: flex;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 0.5rem;
      cursor: pointer;
      transition: all var(--timing-short) ease-in-out;
      filter: drop-shadow(0 1px 2px var(--color-opac-b-14));

      &:hover {
        transform: scale(1.1);
        filter: drop-shadow(0 4px 8px var(--color-opac-b-7));
      }
    }
  }

  &--theater_mode {
    .main_layout__left,
    .main_layout__header {
      flex: 0 0 0;
      overflow: hidden;
    }
  }

  &__settings {
    z-index: var(--z-index-modal);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: var(--color-slate-8);
    display: flex;
    --settings-padding: calc((100vw - 1200px) / 2);

    .settings__nav {
      padding-top: 40px;
      padding-left: var(--settings-padding);
    }

    .settings__content {
      padding-top: 40px;
      padding-right: calc(max(var(--settings-padding), 80px));
    }

    &__close {
      position: fixed;
      top: 20px;
      right: 20px;
      border: 2px solid var(--color-grey-8);
      border-radius: var(--border-radius-rounded);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      cursor: pointer;
      z-index: 1;

      svg {
        height: 20px;
        width: 20px;
        color: solid var(--color-grey-8);
      }
    }
  }
}
