@use "sass:math";
@import "../../styles/main.scss";

html,
body {
  text-size-adjust: 100%;
  touch-action: none;
  overscroll-behavior-x: contain;
  background: black;
}

$chat-width-lg: 420px;
$chat-width-sm: 260px;

.layout {
  height: var(--layout-height);
  width: var(--layout-width);
  display: flex;
  flex-direction: column;
}

.layout {
  --network-nav-collapsed-width: 60px;
  --network-nav-expanded-width: 200px;

  position: fixed;
  height: var(--layout-height);
  width: var(--layout-width);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: var(--color-background-layout-body);
  box-sizing: border-box;

  &--landscape_cw {
    padding-right: env(safe-area-inset-right);
  }
}

.scroll_content_test {
  width: 100%;
}

.test_active_link {
  color: red;
}

.layout__header {
  display: none;
}

.layout__body {
  height: calc(100% - 100px);
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  background: var(--color-background-layout-body);
}

.foo_1 {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
}

.foo_2 {
  display: flex;
  flex-direction: column;
  flex: 1;

  @at-root .layout--landscape_ccw &,
    .layout--landscape_cw & {
    flex-direction: row;
  }
}

.layout__nav {
  background: blue;
  display: flex;
  flex: var(--network-nav-collapsed-width) 0 0;

  @at-root .layout--expand_nav & {
    flex: var(--network-nav-expanded-width) 0 0;
  }
}

.layout__video {
  flex: 1;
  max-height: unset;
  background: black;

  @at-root .layout--show_chat & {
    max-height: calc(100vw * 9 / 16);
  }
}

.layout__chat {
  flex: 1;
  background: var(--color-background-layout-chat);
  display: none;
  flex-direction: column;

  @at-root .layout--show_chat & {
    display: flex;
  }
}

.layout__footer {
  flex-basis: 48px;
  z-index: 1;
  transition: 200ms linear;
  background: var(--color-background-layout-footer);
  box-shadow: var(--shadow-elevation-3);

  @at-root .layout--portrait & {
    padding-bottom: env(safe-area-inset-bottom);
  }

  @at-root .layout--landscape_ccw & {
    padding-left: env(safe-area-inset-left);
  }
}

.layout--portable {
  .layout__nav {
    background: blue;
    transition-delay: 200ms;
    height: 100%;

    @at-root .layout--nav_open & {
      display: block;
    }
  }

  .content_panel {
    background: var(--color-background-layout-body);
    flex: 1 0 0;
    margin-right: 15px;
    position: relative;
    transition-delay: 200ms;
    height: 100%;
  }

  .scroll_content_test {
    transition-delay: 200ms;
    padding-bottom: 0;
  }

  .foo_2 {
    position: fixed;
    height: var(--layout-height);
    width: var(--layout-width);
    box-shadow: var(--shadow-elevation-3);
  }

  .layout__chat,
  .layout__video {
    pointer-events: none;
  }

  &.layout--meme_open {
    .layout__chat,
    .layout__video {
      pointer-events: unset;
    }

    &.layout--portrait {
      .layout__nav,
      .content_panel {
        height: calc(100% + 60px + env(safe-area-inset-bottom));
        transition-delay: 0ms;
      }

      .scroll_content_test {
        padding-bottom: calc(60px + env(safe-area-inset-bottom));
        transition-delay: 0ms;
      }

      .layout__footer {
        transform: translateY(calc(60px + env(safe-area-inset-bottom)));
      }
    }
  }

  &.layout--portrait {
    .layout__chat {
      min-height: 200px;
    }
  }

  &:not(.layout--min_aspect_ratio_0_6) {
    &.layout--portrait .layout__chat {
      padding-bottom: env(safe-area-inset-bottom);
    }
  }

  &.layout--min_aspect_ratio_1_2 {
    flex-direction: row-reverse;

    .layout__body {
      height: 100%;
    }

    .layout__footer {
      z-index: 0;
    }

    .foo_2 {
      z-index: 1;
    }

    .layout__video,
    .layout__chat {
      padding-left: env(safe-area-inset-left);
      padding-right: env(safe-area-inset-right);
    }

    &.layout--show_video:not(.layout--swap) .layout__chat,
    &.layout--show_chat.layout--swap .layout__video {
      padding-left: 0;
    }

    &.layout--show_video.layout--swap .layout__chat,
    &.layout--show_chat:not(.layout--swap) .layout__video {
      padding-right: 0;
    }
  }

  &.layout--landscape_cw {
    &:not(.layout--meme_open) .foo_2 {
      --swipable-peek-size: calc(max(env(safe-area-inset-right), 10px));
    }

    &:not(.layout--swap) .layout__video,
    &.layout--swap .layout__chat {
      padding-left: 0;
      --layout-touch-padding-left: env(safe-area-inset-left);
    }
  }

  &.layout--landscape_ccw {
    &.layout--swap .layout__video,
    &:not(.layout--swap) .layout__chat {
      padding-right: 0;
      --layout-touch-padding-right: env(safe-area-inset-right);
    }
  }
}

.layout--tv,
.layout--pc {
  .layout__header {
    display: flex;
    flex: 50px 0 0;
    flex-direction: column;
    background: red;
  }

  .layout__footer {
    display: none;
  }

  .content_panel {
    display: none;
  }

  .layout__chat {
    display: none;
    flex: 0 1 0;
  }

  &.layout--min_width_md,
  &.layout--meme_open {
    .layout__chat {
      display: flex;
      min-height: none;
    }

    &.layout--show_chat .layout__chat {
      flex-grow: 1;
    }
  }

  &:not(.layout--meme_open) {
    .foo_2 {
      flex: 0;
    }

    .layout__video {
      display: block;
      position: fixed;
      bottom: 10px;
      right: 10px;
      height: $chat-width-sm * math.div(9, 16);
      width: $chat-width-sm;
    }

    .content_panel {
      display: block;
      flex: 1;
    }

    .scroll_content_test {
      padding-bottom: $chat-width-sm * math.div(9, 16) + 10;
    }

    &.layout--min_width_xl {
      .layout__video {
        width: $chat-width-lg;
        height: $chat-width-lg * math.div(9, 16);
      }

      .scroll_content_test {
        padding-bottom: $chat-width-lg * math.div(9, 16) + 10;
      }
    }

    &.layout--show_chat {
      &.layout--min_width_md {
        .foo_2 {
          display: flex;
          flex-direction: column;
          flex: $chat-width-sm 0 0;
          background: maroon;
        }

        .layout__video {
          flex: 1;
          max-height: $chat-width-sm * math.div(9, 16);

          position: unset;
          bottom: unset;
          right: unset;
          height: unset;
          width: unset;
        }

        .scroll_content_test {
          padding-bottom: unset;
        }

        .layout__chat {
          flex-grow: 1;
        }

        &.layout--swap .foo_1 {
          flex-direction: row-reverse;
        }
      }

      &.layout--min_width_xl {
        .foo_2 {
          flex: $chat-width-lg 0 0;
        }

        .layout__video {
          max-height: calc(#{$chat-width-lg} * 9 / 16);
        }
      }
    }
  }

  &.layout--theater_mode {
    .layout__header {
      display: none;
    }

    .layout__nav {
      display: none;
    }
  }
}

// landscape
.layout--min_aspect_ratio_1_2 {
  .foo_2 {
    flex-direction: row;
  }

  .layout__video {
    max-height: none;
  }

  &.layout--show_chat.layout--meme_open {
    .layout__chat {
      flex: $chat-width-sm 1 0;
    }

    &.layout--show_video .layout__chat {
      flex-grow: 0;
    }

    &.layout--min_width_xl .layout__chat {
      flex-basis: $chat-width-lg;
    }
  }

  &.layout--swap {
    .foo_1,
    .foo_2 {
      flex-direction: row-reverse;
    }
  }
}

// mobile landscape with keyboard
.layout--min_aspect_ratio_4.layout--show_chat.layout--meme_open {
  .layout__chat {
    flex-basis: $chat-width-lg;
  }
}
