.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: var(--layout-height);
  width: var(--layout-width);
  box-shadow: var(--shadow-elevation-3);
  box-sizing: border-box;
  background: var(--color-background-layout-body);
  z-index: var(--z-index-modal);
  top: var(--layout-height);
  --swipable-peek-size: 0px;

  &__header {
    background: var(--color-background-layout-header);
    flex: 0 0 50px;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    touch-action: none;
    z-index: var(--z-index-above);

    &__title {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 0.5rem;
      display: flex;
      align-items: center;
    }

    &__close {
      flex: 0 0 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      &__icon {
        height: 1.6rem;
        width: 1.6rem;
      }
    }

    @at-root {
      .layout--landscape_cw & {
        padding-right: env(safe-area-inset-right);
      }
      .layout--landscape_ccw & {
        padding-left: env(safe-area-inset-left);
        padding-right: 10px;
      }
    }
  }

  &__body {
    flex: 1;
  }
}
