// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.player {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__video {
    flex: 1;
    width: 100%;
  }
}

.player_embed {
  height: 100%;
  background: var(--color-slate-2);

  &__media {
    position: absolute;
    background: #000;
    height: 100%;

    @at-root .layout--show_chat & {
      height: unset;
    }
  }

  &--full &__media,
  &--pip &__media {
    top: 0;
    left: 0;
    width: 100%;
    max-height: unset;
  }

  &--large &__media {
    top: 0;
    left: 0;
    width: 100%;
  }

  &--closed &__media {
    display: none;
  }

  &--no_meta &__media,
  &--theater &__media {
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;

    @at-root .layout--min_aspect_ratio_1_2 & {
      height: 100%;
    }
  }

  &__pip_mask {
    visibility: hidden;
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &__expand,
    &__close {
      cursor: pointer;
      opacity: 0.9;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 1;
        filter: drop-shadow(0 0 8px #fff);
      }
    }

    &__close {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  &--pip:hover &__pip_mask {
    visibility: visible;
    opacity: 1;
  }

  &--large &__meta,
  &--full &__meta {
    margin-top: var(--video-height);
  }
}

.layout--min_aspect_ratio_1_2 .player_embed {
  &--large .player_embed__media {
    &,
    &__content {
      max-height: calc(100vh - var(--layout-header-height, 0px) - 5.2rem);
    }
  }

  &--full .player_embed__media {
    &,
    &__content {
      height: calc(100vh - var(--layout-header-height, 0px));
    }
  }
}

.layout--max_aspect_ratio_1_2.layout--show_chat .player_embed {
  height: var(--video-height);

  &__view {
    height: 100vh;
  }
}

.layout--max_aspect_ratio_1_2 .player_embed__meta,
.player_embed--pip .player_embed__meta,
.player_embed--theater .player_embed__meta {
  display: none;
}
