.layout--portable {
  .settings {
    height: 100%;
    width: 100%;
    position: relative;

    &__nav {
      background: var(--color-background-settings-nav);
      position: absolute;
      height: 100%;
      box-shadow: var(--shadow-elevation-2);
      z-index: var(--z-index-default);

      &__link {
        white-space: nowrap;
      }
    }

    &__body {
      transform: translateZ(0);
    }
  }

  .settings__nav {
    --swipable-peek-size: 10px;
  }

  &.layout--landscape_cw .settings {
    &__nav {
      padding-left: 10px;
    }

    &__body {
      margin-right: calc(env(safe-area-inset-right) - 10px);
    }
  }
  &.layout--landscape_ccw .settings {
    &__nav {
      padding-left: env(safe-area-inset-left);
      --swipable-peek-size: calc(env(safe-area-inset-left) + 10px);
    }

    &__body {
      margin-left: env(safe-area-inset-left);
    }
  }
}

.layout {
  &.layout--max_width_md .settings {
    .input_label {
      flex-direction: column;

      &__text {
        flex: 0 0;
      }

      &.input_button {
        flex-direction: row;
      }

      &.input_label--toggle {
        flex-direction: row;
        justify-content: space-between;

        .input_label__text {
          flex: 1;
        }

        .input_label__body {
          flex: 0;
        }
      }

      &.input_label--button {
        flex-direction: row;
      }
    }
  }

  &.layout--min_width_md {
    .settings {
      .input_label {
        flex-direction: row;

        &__text {
          flex: 200px 0;
        }
      }
    }
  }
}

.settings {
  display: flex;
  flex-direction: row;
  flex: 1;

  &__nav {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;

    &__link {
      padding: 8px;
      margin: 4px;
      border-radius: 4px;

      &:hover {
        background: var(--link-hover-bg);
      }

      &--active,
      &--active:hover {
        background: var(--link-active-bg);
      }
    }
  }

  &__body {
    flex: 1;
  }
}
