.layout--portable {
  .settings {
    height: 100%;
    width: 100%;
    position: relative;

    &__nav {
      background: green;
      position: absolute;
      height: 100%;
      box-shadow: var(--shadow-elevation-2);

      &__link {
        white-space: nowrap;
      }
    }
  }

  .settings__nav {
    --swipable-peek-size: 10px;
  }

  .modal .settings__nav {
    height: calc(100% + env(safe-area-inset-bottom));
  }

  &.layout--landscape_ccw .settings__nav {
    margin-left: calc(-1 * env(safe-area-inset-left));
    padding-left: env(safe-area-inset-left);
    --swipable-peek-size: calc(env(safe-area-inset-left) + 10px);
  }
}
