// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.directory_grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 10px;

  &__item {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.33) 2px 2px 4px;
    cursor: pointer;

    &__link {
      display: block;
      position: relative;
      cursor: pointer;
    }

    &__thumbnail {
      display: block;
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      background: black;
    }

    &__viewer_count {
      position: absolute;
      display: block;
      bottom: 0.2rem;
      left: 0.2rem;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 4px;
      padding: 0.1rem 0.4rem;
      font-size: 0.8rem;
    }

    &__channel {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--body-foreground);
      padding: 0.5rem;
      gap: 0.5rem;

      &__logo {
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        border-radius: 2rem;
      }

      &__label {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 0;
        font-size: 0.9rem;

        & span:nth-child(2) {
          margin-top: 0.4rem;
        }
      }

      &__title,
      &__name {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__user_count {
        border-radius: var(--border-radius-medium);
        background: var(--color-green-4);
        padding: 0.1rem 0.3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.1rem;
      }
    }
  }
}
