.search {
  display: flex;
  position: relative;
  height: 100%;

  &__box {
    display: flex;
    flex-direction: row;
    border-radius: var(--border-radius-small);
    overflow: hidden;
    align-items: center;
    padding: 0 0.5em;
    box-shadow: 0 1px 2px var(--color-opac-b-14) inset;
    background-color: var(--color-background-input);
  }

  &__input {
    background: white;
    color: var(--color-opac-w-14);
    background: transparent;
    flex: 1;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 1em;
    color: var(--color-opac-w-14);
  }

  &__menu {
    &__channel,
    &__embed {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px 10px;
      box-sizing: border-box;
      cursor: pointer;

      &:hover,
      &--selected {
        background: var(--body-background);
      }
    }

    &__channel {
      &__logo {
        height: 2em;
        width: 2em;
        object-fit: cover;
        border-radius: 2em;
        margin-right: 0.5em;
      }

      &__label {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 0;
        font-size: 0.9em;

        & span:nth-child(2) {
          margin-top: 0.4em;
        }
      }

      &__title,
      &__name {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__embed {
      &__logo {
        height: 2em;
        width: 2em;
        margin-right: 0.5em;
        object-fit: scale-down;
      }
    }
  }
}

.layout_header__search {
  .search {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 320px;

    &--menu_open {
      background: var(--body-foreground);
      border-top-left-radius: var(--border-radius-medium);
      border-top-right-radius: var(--border-radius-medium);
      box-shadow: var(--shadow-elevation-2);

      &__box {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &__box {
      width: 300px;
      box-sizing: border-box;
      height: 2em;
    }

    &__menu {
      position: absolute;
      background: var(--body-foreground);
      top: calc(100% - 1px);
      width: 100%;
      padding-bottom: 10px;
      border-bottom-left-radius: var(--border-radius-medium);
      border-bottom-right-radius: var(--border-radius-medium);
      box-shadow: var(--shadow-elevation-3);
      clip-path: inset(1px -22px -22px -22px);
      z-index: var(--z-index-above);
    }
  }
}

.layout_footer__search {
  .search {
    flex-direction: column;

    &__base {
      display: flex;
      flex-direction: row;
      margin: 0.5em;
      flex: 0 0 2em;
    }

    &__box {
      flex: 1;
      margin-right: 0.5em;
    }

    &__menu {
      flex: 1;
      overflow-y: hidden;
      min-height: 0;

      @at-root {
        .layout--portrait &,
        .layout--landscape_cw &,
        .layout--landscape_ccw & {
          margin-bottom: calc(-1 * env(safe-area-inset-bottom));

          &__embed:last-child,
          &__channel:last-child {
            margin-bottom: env(safe-area-inset-bottom);
          }
        }

        .layout--portrait.layout--min_aspect_ratio_0_6 & {
          margin-bottom: 0;

          &__embed:last-child,
          &__channel:last-child {
            margin-bottom: 0;
          }
        }
      }

      &__embed,
      &__channel {
        user-select: none;
      }
    }
  }
}
