.search {
  display: flex;
  position: relative;
  height: 100%;

  &__box {
    display: flex;
    flex-direction: row;
    border-radius: var(--border-radius-small);
    overflow: hidden;
    align-items: center;
    padding: 0 0.5rem;
    box-shadow: 0 1px 2px var(--color-opac-b-14) inset;
    background-color: var(--color-background-input);
  }

  &__form,
  &__input {
    color: var(--color-text-input);
    background: transparent;
    display: flex;
    flex: 1;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    color: var(--color-icon-input);
  }

  &__menu {
    &__channel,
    &__embed {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px 10px;
      box-sizing: border-box;
      cursor: pointer;

      &:hover,
      &--selected {
        background: var(--body-background);
      }
    }

    &__channel {
      &__logo {
        height: 2rem;
        width: 2rem;
        object-fit: cover;
        border-radius: 2rem;
        margin-right: 0.5rem;
      }

      &__label {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 0;
        font-size: 0.9rem;

        & span:nth-child(2) {
          margin-top: 0.4rem;
        }
      }

      &__title,
      &__name {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__embed {
      &__logo {
        height: 2rem;
        width: 2rem;
        margin-right: 0.5rem;
        object-fit: scale-down;
      }
    }
  }
}

.layout--tv,
.layout--pc {
  .search {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 320px;

    &--menu_open {
      background: var(--body-foreground);
      border-top-left-radius: var(--border-radius-medium);
      border-top-right-radius: var(--border-radius-medium);
      box-shadow: var(--shadow-elevation-2);

      &__box {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &__box {
      width: 300px;
      box-sizing: border-box;
      height: 2rem;
    }

    &__menu {
      position: absolute;
      background: var(--body-foreground);
      top: calc(100% - 1px);
      width: 100%;
      padding-bottom: 10px;
      border-bottom-left-radius: var(--border-radius-medium);
      border-bottom-right-radius: var(--border-radius-medium);
      box-shadow: var(--shadow-elevation-3);
      clip-path: inset(1px -22px -22px -22px);
      z-index: var(--z-index-above);
    }
  }
}

.layout--portable {
  .search {
    flex-direction: column;

    &__base {
      display: flex;
      flex-direction: row;
      padding: 0.5rem;
      flex: 0 0 2rem;
      background: var(--color-background-layout-header);
    }

    &__box {
      flex: 1;
      margin-right: 0.5rem;
    }

    &__menu {
      flex: 1;
      overflow-y: hidden;
      min-height: 0;

      &__embed:last-child,
      &__channel:last-child {
        margin-bottom: env(safe-area-inset-bottom);
      }

      &__embed,
      &__channel {
        user-select: none;
        padding: 10px;
      }
    }
  }

  &.layout--landscape_cw,
  &.layout--landscape_ccw {
    .search {
      &__base {
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
      }

      &__menu__channel,
      &__menu__embed {
        padding-left: calc(env(safe-area-inset-left) + 10px);
      }
    }
  }
}
