.thing_table {
  display: table;
  width: 100%;
  // border-collapse: collapse;
  border-spacing: 0;

  // thead {
  //   display: table-header-group;
  // }

  tr {
    display: table-row;
  }

  td,
  th {
    text-align: left;
    display: table-cell;
    border-bottom: 1px solid var(--color-opac-w-3);
    padding: 10px;
  }

  thead th {
    background: var(--color-opac-w-2);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
  }

  tbody tr:last-child {
    border-bottom: none;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    background: "green";
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 5px;
  }
}

.thing_table_dropdown,
.thing_table_item_dropdown {
  &__menu {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-opac-w-3);
    right: 0;
    margin-top: 5px;
    background: var(--color-background-input);
    border-radius: var(--border-radius-small);
  }

  &__button {
    text-align: left;
    padding: 5px;
    white-space: nowrap;

    &:hover {
      background: green;
    }
  }
}

.thing_table_dropdown {
  justify-self: right;
  display: inline-block;

  &__anchor {
    padding: 5px;
    border: 1px solid var(--color-opac-w-3);
    background: var(--color-background-input);
    border-radius: var(--border-radius-small);
  }
}

.thing_table_item_dropdown {
  width: 28px;

  &__anchor {
    height: 28px;
    background: green;
    border-radius: var(--border-radius-rounded);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
