// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.add_network_modal {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;

  &__background {
    background: var(--color-opac-b-4);
    height: 100vh;
    position: absolute;
    width: 100vw;
  }

  &__window {
    background: var(--color-slate-4);
    border-radius: 10px;
    width: 400px;
    position: relative;
    box-shadow: var(--shadow-elevation-4);
  }

  &__close_button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: var(--color-grey-3);
    transition: color 200ms;

    &:hover {
      color: var(--color-grey-7);
    }
  }

  &__body {
    margin: 20px 20px 0;
  }

  &__footer {
    background: var(--color-gray-8);
    margin: 0 20px 20px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}

.create_network {
  &__title {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
  }

  &__description {
    text-align: center;
    color: var(--color-grey-4);
    font-size: 0.9rem;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    margin: 20px 0 30px;
  }
}
