.badge {
  background: red;
  border-radius: 0.8rem;
  display: block;
  font-family: sans-serif;
  font-size: 0.6rem;
  line-height: 1rem;
  padding: 0.1rem 0.1rem 0.1rem;
  min-width: 1rem;
  position: absolute;
  right: -0.4rem;
  bottom: -0.5rem;
}
