@import "../styles/base.scss";

.login_profile_list {
  &__item {
    background: $slate-400;
    border-radius: 0.5rem;
    border: 1px solid $slate-500;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px;
    color: $gray-400;
    cursor: pointer;
    padding: 1rem;
    margin: 0.75rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      background: $slate-500;
    }
  }

  &__icon {
    display: block;
    padding-right: 0.5rem;
    height: 1.3rem;
    width: 1.3rem;
  }

  &__text {
    display: block;
  }

  &__subtext {
    display: block;
    color: $gray-100;
    font-size: 0.8rem;
  }
}

.landing_page {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  background: $slate-500;

  &__body {
    height: 100%;
    width: 100%;
    margin: auto;
    overflow-y: auto;
    display: flex;
    align-self: center;
    margin: 0 auto;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 15px;

    @include respond-to("small") {
      flex-direction: row;
      height: 500px;
      max-width: 800px;
    }
  }

  &__header {
    flex: 0 1 50%;
    background: $slate-200;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    max-height: 200px;
    padding: 2rem;

    @include respond-to("small") {
      max-height: unset;
    }

    &__title {
      display: block;
      font-size: 2.2rem;
      margin: 0.1rem 0;
      color: $gray-500;
    }

    &__tagline {
      margin: 0.1rem 0;
      color: $gray-300;
    }
  }

  &__form_container {
    flex: 1 50%;
    background: $slate-300;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    padding: 2rem;

    @include respond-to("small") {
      justify-content: center;
    }

    .input_buttons {
      justify-content: space-between;
    }

    .input_button {
      flex-grow: 0;
      white-space: nowrap;
    }

    .input_button--borderless {
      background: unset;
      color: $gray-300;

      &:hover {
        background: unset;
        color: $gray-500;
      }
    }

    .input_label--toggle {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__accordion {
    &--enabled {
      margin: 0 -10px 5px;
      padding: 5px 10px;
      border-radius: var(--border-radius-small);
      box-shadow: 0 1px 2px inset var(--color-opac-b-14);
      background: var(--color-opac-b-1);
    }

    &__content {
      display: none;
    }

    &--enabled &__content {
      display: block;
    }
  }
}
