// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.loading_placeholder {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--color-background-layout-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
