// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.video_player {
  display: flex;
  flex: 1 1;
  height: 100%;
  width: 100%;
  overflow: hidden;

  @at-root .layout--max_aspect_ratio_1_2.layout--show_chat & {
    max-height: 40vh;
  }
}

.video_player__video {
  position: absolute;
  height: 100%;
  width: 100%;
}

.video_player__waiting_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  animation: spin 2s linear infinite;
  opacity: 0.8;
  height: 24px;
  width: 24px;

  svg {
    transform: scaleX(-6) scaleY(6);
    height: 24px;
    width: 24px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
