@import "../../styles/main.scss";

body {
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  background: #ddd;
  height: 35px;

  a {
    margin: 0 0.5em;
  }
}

.network_list {
  list-style: none;
  margin: 0.5em;
  padding: 0;
  width: 300px;

  li {
    border: 1px solid #ccc;
    cursor: pointer;
    display: block;
    margin: 1px;
    padding: 0.5em;
  }
}

.network_timeline {
  &__controls {
    background: #bbb;
    padding: 5px;

    select {
      margin-right: 5px;
    }
  }

  &__list {
    padding: 5px;
  }
}

// ---

.chat_mockup {
  display: flex;
  flex-direction: row;

  &__content {
    background: var(--body-background);
    flex: 1;
    height: calc(100vh - 35px);
    width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
