// Copyright 2022 Strims contributors
// SPDX-License-Identifier: AGPL-3.0-only

.label {
  padding: 0.2rem 0.4rem;
  margin: 0 0.2rem;
  background: var(--color-slate-7);
  border-radius: var(--border-radius-small);
}
