.thing_table {
  display: table;
  width: 100%;
  max-width: 1000px;
  // border-collapse: collapse;
  border-spacing: 0;

  tr {
    display: table-row;
  }

  td,
  th {
    text-align: left;
    display: table-cell;
    background: var(--color-background-table);
    border-bottom: 1px solid var(--color-opac-w-2);
    padding: 10px;
    white-space: nowrap;

    &:first-child {
      border-left: 1px solid var(--color-opac-w-2);
    }
    &:last-child {
      border-right: 1px solid var(--color-opac-w-2);
    }
  }

  thead th {
    border-top: 1px solid var(--color-opac-w-2);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    background: var(--color-background-table-header);

    &:first-child {
      border-top-left-radius: var(--border-radius-small);
    }
    &:last-child {
      border-top-right-radius: var(--border-radius-small);
    }
  }

  tbody tr:last-child {
    border-bottom: none;

    td:first-child {
      border-bottom-left-radius: var(--border-radius-small);
    }
    td:last-child {
      border-bottom-right-radius: var(--border-radius-small);
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 5px;
  }

  &__title_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    align-items: center;
    max-width: 1000px;
    height: 2rem;

    &__header {
      display: flex;
      align-items: center;
    }

    &__back {
      display: flex;
      border-radius: var(--border-radius-small);
      align-items: center;
      margin-right: 0.2rem;
      padding: 0.2rem;

      &:hover {
        background-color: var(--color-opac-w-2);
      }
    }

    &__controls {
      justify-content: flex-end;
    }
  }

  &__row_menu {
    width: 2em;
  }

  &__truncate {
    position: relative;
    height: 1.1em;

    .thing_table__truncate__reference {
      color: transparent;
      user-select: none;
      overflow: hidden;
      word-break: break-all;
      white-space: normal;
    }

    .thing_table__truncate__display {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      white-space: nowrap;
      color: var(--color-text-base);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.thing_table_dropdown,
.thing_table_item_dropdown {
  &__menu {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-opac-w-3);
    right: 0;
    margin-top: 5px;
    background: var(--color-background-input);
    border-radius: var(--border-radius-small);
  }

  &__button {
    text-align: left;
    padding: 5px;
    white-space: nowrap;

    &:hover {
      background: green;
    }
  }
}

.thing_table_dropdown {
  justify-self: right;
  display: inline-block;

  &__anchor {
    padding: 5px;
    border: 1px solid var(--color-opac-w-3);
    background: var(--color-background-input);
    border-radius: var(--border-radius-small);
  }
}

.thing_table_item_dropdown {
  width: 28px;

  &__anchor {
    height: 28px;
    border-radius: var(--border-radius-small);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--color-opac-w-2);
    }
  }
}

.thing_list {
  margin: 20px 0;

  &__modal_mask {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
  }

  &__modal {
    background: white;
    left: 50%;
    margin-left: -420px;
    padding: 20px;
    position: fixed;
    top: 50%;
    width: 800px;
    z-index: 999;
  }
}
