name: Lint and build android app
on:
  pull_request:
  push:
    paths:
      - 'android/**'

jobs:
  main:
    name: Test & Build Debug
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.14'
      - name: Install NDK
        run: echo "y" | sudo /usr/local/lib/android/sdk/tools/bin/sdkmanager \
               "ndk-bundle" --sdk_root=${ANDROID_SDK_ROOT}
      - name: Build Go bridge
        run: |
          go get golang.org/x/mobile/cmd/gomobile
          go mod download
          gomobile init
          mkdir ./android/app/libs
          gomobile bind -o ./android/app/libs/bridge.aar -target=android ./android/bridge
      - name: Unit tests
        working-directory: ./android
        run: bash ./gradlew lint
      - name: Build Debug APK
        working-directory: ./android
        run: bash ./gradlew assembleDebug --stacktrace
