name: Lint and build android app
on:
  pull_request:
  push:
    paths:
      - 'android/**'

jobs:
  main:
    name: Test & Build Debug
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.14'
      - name: set up gomobile env
        env:
          SDK_VERSION: sdk-tools-linux-3859397
          ANDROID_BUILD_TOOLS_VERSION: 27.0.3
          ANDROID_PLATFORM_VERSION: "android-28"
          ANDROID_HOME: "/github/home/android"
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip
          mkdir $ANDROID_HOME

          wget -O tools.zip https://dl.google.com/android/repository/${SDK_VERSION}.zip && \
          unzip tools.zip && rm tools.zip && \
          chmod a+x -R $ANDROID_HOME && \
          chown -R root:root $ANDROID_HOME
          mkdir -p ~/.android && \
          touch ~/.android/repositories.cfg && \
          echo y | sdkmanager "platform-tools" && \
          echo y | sdkmanager "build-tools;$ANDROID_BUILD_TOOLS_VERSION" && \
          echo y | sdkmanager "platforms;$ANDROID_PLATFORM_VERSION" && \
          echo y | sdkmanager "ndk-bundle"
      - name: Build Go bridge
        env:
          ANDROID_HOME: "/github/home/android"
          PATH: "$PATH:$ANDROID_HOME/tools:$ANDROID_HOME/tools/bin"
        run: |
          go get golang.org/x/mobile/cmd/gomobile
          go mod download
          gomobile init
          mkdir ./android/app/libs
          gomobile bind -o ./android/app/libs/bridge.aar -target=android ./android/bridge
      - name: Unit tests
        working-directory: ./android
        run: bash ./gradlew lint
      - name: Build Debug APK
        working-directory: ./android
        run: bash ./gradlew assembleDebug --stacktrace
