name: ffmpeg

on:
  pull_request:
    paths:
      - '.github/workflows/ffmpeg.yaml'
      - 'hack/ffmpeg/ffmpeg.yaml'
  push:
    branches: ['main']
    paths:
      - '.github/workflows/ffmpeg.yaml'
      - 'hack/ffmpeg/ffmpeg.yaml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Docker login
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        run: docker run -v "$PWD:/work" -v "$HOME/.docker:/root/.docker" distroless.dev/apko publish hack/ffmpeg/ffmpeg.yaml ghcr.io/memelabs/strims/ffmpeg:latest --debug
