name: Lint and build ios app

on:
  pull_request:
    paths:
      - 'ios/**'
  push:
    branches:
      - master
    paths:
      - 'ios/**'

jobs:
  main:
    name: Lint & Build Debug
    runs-on: macos-11.0
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    env:
      XC_VERSION: ${{ '12.3' }}
      XC_SCHEME: ${{ 'App' }}
      ENCRYPTED_CERTS_FILE_PATH: ${{ './ios/ci/certs.p12.gpg' }}
      DECRYPTED_CERTS_FILE_PATH: ${{ './ios/ci/certs.p12' }}
      ENCRYPTED_PROVISION_FILE_PATH: ${{ './ios/ci/provisioning.tar.gz.gpg' }}
      DECRYPTED_PROVISION_FILE_PATH: ${{ './ios/ci/provisioning.tar.gz' }}
      CERTS_ENCRYPTION_PWD: ${{ secrets.CERTS_ENCRYPTION_PWD }}
      PROVISION_ENCRYPTION_PWD: ${{ secrets.PROVISION_ENCRYPTION_PWD }}
      CERTS_EXPORT_PWD: ${{ secrets.CERTS_EXPORT_PWD }}
      KEYCHAIN: ${{ 'test.keychain' }}
    steps:
      - uses: actions/checkout@v2
      - name: Select latest Xcode
        run: "sudo xcode-select -s /Applications/Xcode_$XC_VERSION.app"
      - name: Configure Keychain
        run: |
          security create-keychain -p "" "$KEYCHAIN"
          security list-keychains -s "$KEYCHAIN"
          security default-keychain -s "$KEYCHAIN"
          security unlock-keychain -p "" "$KEYCHAIN"
          security set-keychain-settings
          security list-keychains 
      - name: Configure Code Signing
        run: |
          gpg -d -o "$DECRYPTED_CERTS_FILE_PATH" --pinentry-mode=loopback --passphrase "$CERTS_ENCRYPTION_PWD" "$ENCRYPTED_CERTS_FILE_PATH"
          gpg -d -o "$DECRYPTED_PROVISION_FILE_PATH" --pinentry-mode=loopback --passphrase "$PROVISION_ENCRYPTION_PWD" "$ENCRYPTED_PROVISION_FILE_PATH"
          security import "$DECRYPTED_CERTS_FILE_PATH" -k "$KEYCHAIN" -P "$CERTS_EXPORT_PWD" -A
          security set-key-partition-list -S "apple-tool:,apple:" -s -k "" "$KEYCHAIN"
          tar xzvf $DECRYPTED_PROVISION_FILE_PATH
          mkdir -p "$HOME/Library/MobileDevice/Provisioning Profiles"
          for PROVISION in `ls ./*.mobileprovision`
          do
            UUID=`/usr/libexec/PlistBuddy -c 'Print :UUID' /dev/stdin <<< $(security cms -D -i ./$PROVISION)`
            cp "./$PROVISION" "$HOME/Library/MobileDevice/Provisioning Profiles/$UUID.mobileprovision"
          done
      - name: set up swift-format
        run: |
          git clone -b swift-5.3-branch https://github.com/apple/swift-format.git --single-branch
          cd swift-format
          swift build -c release --disable-sandbox --build-path '.build'
          mv .build .. && cd ..
          sudo cp -f .build/release/swift-format /usr/local/bin/swift-format
      - name: set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.14'
      - name: Build Go bridge
        working-directory: ./ios
        run: |
          go get golang.org/x/mobile/cmd/gomobile
          go mod download
          gomobile init
          gomobile bind -target ios -o ./App/Bridge.framework ./bridge
      - name: Build Debug
        working-directory: ./ios/App
        run: xcodebuild -scheme "$XC_SCHEME" build "OTHER_CODE_SIGN_FLAGS=--keychain '$KEYCHAIN'"
      - name: lint
        working-directory: ./ios/App
        run: swift format lint --configuration .swift-format -r .

