name: Test '/pkg/...'

on:
  pull_request:

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Install ffmpeg
      run: |
        sudo apt update
        sudo apt install ffmpeg
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Get dependencies
      run: go get -v -t -d ./...
    - name: Test
      run: go test -cover $(go list ./pkg/... | grep -v -e 'gobridge' -e 'pkg/ppspp')
