name: svc-ci

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Build image
      run: docker build -f cmd/svc/Dockerfile . -t docker.pkg.github.com/slugalisk/go-ppspp/svc:latest

